In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# 1. Multi index & column:
Data: https://www.kaggle.com/c/titanic

Task: Create a multi-indexed dataframe

Indexes:

level_0 = Sex
level_1 = Embarked
Columns:

level_0 = Pclass
level_1 = Survived
Values: Random

Result:

Tip: You can use the .unique() method to get unique values. For example like this; df.Survived.unique().

In [ ]:
df = pd.read_csv('../input/titanicdataset-traincsv/train.csv')
df

In [ ]:
dfc = df.copy()
dfc.info()

In [ ]:
index_labels = [df.Sex.unique(), df.Embarked.unique()]
indexes = pd.MultiIndex.from_product(index_labels, names = ["Sex", "Embarked"])
indexes

In [ ]:
column_labels = [df.Pclass.unique(), df.Survived.unique()]
columns = pd.MultiIndex.from_product(column_labels, names = ["Pclass", "Survived"])
columns

In [ ]:
dfc_1 = pd.DataFrame(np.random.randn(8,6), index=indexes, columns = columns)
dfc_1

# 2. Pivot:

Data: https://www.kaggle.com/c/titanic

Task: Create pivot table by using pivot

Index: Name

Column: Ticket

Values: Age

Result: alt text

Tip: Use iloc[:10] for the first 10 row

In [ ]:
dfc_2 = df.iloc[:10].pivot(index='Name',columns = 'Ticket',values = 'Age')
dfc_2

# 3. Stack & Unstack:
Data: Task 1

Task: Manipulate the table you obtained in the 1st task with the stack and unstack methods

Result:

In [ ]:
dfc_1

In [ ]:
dfc_3 = df_1.stack([0,1]).unstack([0,3])
dfc_3

# 4. Melt:
Data: https://www.kaggle.com/c/titanic

Task: Create the table below using melt method

Id_vars: 'Name' and 'Embarked'

Value_vars: 'Sex' and 'Age'

Tip: Use iloc[:10] for the first 10 row

In [ ]:
dfc_4 = df.melt(id_vars = ['Name','Embarked'], value_vars = ['Sex', 'Age'], var_name = 'variable', value_name = 'value').iloc[:10]
dfc_4

# 5. Pivot Table:
Data: https://www.kaggle.com/c/titanic

Task: Create the following pivot tables using the pivot_table method

Index:

* A) 'Embarked'
* B) 'Embarked', 'Sex', 'Pclass'
* C) 'Embarked', 'Sex', 'Pclass'

Values: 'Fare' and 'Age'

aggfunc:

* A) 'Fare': mean, 'Age': median
* B) 'Fare': mean, 'Age': median
* C) 'Fare': mean and np.sum, 'Age': np.median and np.std

In [ ]:
piv_A = pd.pivot_table(dfc, values = ['Age','Fare'], index = "Embarked",aggfunc = {'Age' : np.median,'Fare':np.mean})
piv_A

In [ ]:
piv_B = pd.pivot_table(dfc, values = ['Age','Fare'], index = ['Embarked', 'Sex', 'Pclass'],aggfunc = {'Age' : np.median,'Fare':np.mean})
piv_B

In [ ]:
piv_c = pd.pivot_table(df, values = ['Age','Fare'], index = ['Embarked', 'Sex', 'Pclass'],aggfunc = {'Age' : [np.median,np.std],'Fare':[np.mean,np.sum]})
piv_c