In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/kaggle/input/data-analyst-jobs/DataAnalyst.csv')
data.head()

In [ ]:
data.drop([data.columns[0]], axis='columns',inplace=True)

In [ ]:
data.shape

In [ ]:
columns = data.columns
columns

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
plt.figure(figsize=(20,3))
sns.heatmap(data.isnull(), cmap='Greys_r', cbar=False)
plt.yticks([])
plt.xticks(rotation=60);

 One null in comapany name

# start exploring columns
1. Job Title

In [ ]:
data[columns[0]].value_counts()

>> * I thought may be we can diffrentiate the data on the basis of diffrent Job Title. But it can't be helpfull as there are 1272 unique titles.

> * ## For Top 10 **Job Titles**, plot 'Job Title' vs 'Count'

In [ ]:
df = data[columns[0]].value_counts()
df = df.to_frame().reset_index()
df.rename(columns={'index': 'Job Title', 'Job Title': 'Count'}, inplace=True)
df

In [ ]:
sns.set_style('darkgrid')
plt.figure(figsize=(10,5))
chart = sns.barplot(
    data = df.head(10),
    x='Job Title',
    y ='Count',
    palette = 'Set1'
)
chart = chart.set_xticklabels(
    chart.get_xticklabels(), 
    rotation = 45, 
    horizontalalignment = 'right',
    fontweight = 'light',
)
plt.show()
plt.show()

> * ## Word Cloud of Job Titles

In [ ]:
from wordcloud import WordCloud, STOPWORDS
text = ' '.join(data['Job Title'])
stopwords = set(STOPWORDS)
wc = WordCloud(background_color='black', stopwords=stopwords).generate(text)
plt.figure(figsize=(20,8))
plt.title('Job Title', fontsize=20)
plt.axis('off')
plt.imshow(wc)
plt.show()

## 2. Salary

In [ ]:
data[columns[1]].value_counts()

>> divide the salary column into max salarya and min salary

In [ ]:
def minsalary(salaryrange):
  import re
  temp = re.findall(r'\d+', salaryrange)
  if len(temp) == 1:
    return -1
  return temp[0]
def maxsalary(salaryrange):
  import re
  temp = re.findall(r'\d+', salaryrange)
  if len(temp) == 1:
    return -1
  return temp[1]

index = np.arange(2253)
df = pd.DataFrame(index=index)
data['min_salary'] = data[columns[1]].apply(minsalary).astype('int')
data['max_salary'] = data[columns[1]].apply(maxsalary).astype('int')
df

>  ## Max and Min Salary distribution.

In [ ]:
plt.figure(figsize=(12,6))
ax = plt.gca()
sns.distplot(data['max_salary'], ax = ax, bins=50)
sns.distplot(data['min_salary'], ax=ax)
plt.show()

>> * Min salary distribution is a bit right skewed
>> * While Max salary distribution is normal distribution.

> ### Top 15 Job Title with average maximum salary

In [ ]:
df = data.groupby(['Job Title'])['max_salary'].mean().sort_values(ascending=False)
df = df.reset_index()
df.rename(columns={'max_salary':'average max salary'}, inplace=True)

In [ ]:
plt.figure(figsize=(18,6))
chart = sns.barplot(
    data=df.head(15),
    x='Job Title',
    y='average max salary',
    palette='Set2')
chart = chart.set_xticklabels(
    chart.get_xticklabels(),
    rotation=60,
    horizontalalignment='right',
    fontweight='light'
)
plt.xlabel('Job Title',size=12)
plt.ylabel('Average Max Salary',size=12)
plt.show()

# chart = sns.barplot(
#     data = df.head(10),
#     x='Job Title',
#     y ='Count',
#     palette = 'Set1'
# )
# chart = chart.set_xticklabels(
#     chart.get_xticklabels(), 
#     rotation = 45, 
#     horizontalalignment = 'right',
#     fontweight = 'light',
# )

>> ## Top 10 Job Title with least Average Min Salary

In [ ]:
df = data.groupby(['Job Title'])['min_salary'].mean().sort_values()
df = df.reset_index()
df.rename(columns={'min_salary':'average min salary'}, inplace=True)
#df.rename(columns={'max_salary':'average max salary'}, inplace=True)

In [ ]:
df

In [ ]:
plt.figure(figsize=(12,6))
chart = sns.barplot(
    data=df.head(10),
    x='Job Title',
    y='average min salary',
    palette='Set3'
)
chart = chart.set_xticklabels(
    chart.get_xticklabels(),
    rotation=60,
    horizontalalignment = 'right',
    fontweight='light'
)
plt.xlabel('Job Title', size=12)
plt.ylabel('Average Min Salary', size=12)
plt.title('Top 10 Job Title with least Average Min Salary', size=12)
plt.show()


* we can see one value as -1. Which means ```isnull()``` ignored -1 i.e. null value in this columns.

>>> ### lets convert -1, '-1', -1.0 to Nan.

In [ ]:
data.replace('-1', np.nan, inplace=True)
data.replace(-1, np.nan, inplace=True)
data.replace(-1.0, np.nan, inplace=True);

>> ## bar plot of salary of top 10 Job Title with highest maximum salary

In [ ]:
df = data[['Job Title', 'min_salary', 'max_salary']].groupby(['Job Title']).max().sort_values(by=['max_salary'],ascending=False)

In [ ]:
df = df.reset_index()

In [ ]:
# df.head(10).plot(kind='bar', stacked=True)
plt.figure(figsize=(18,6))
ax = plt.gca()
chart = sns.barplot(data=df.head(10),x='Job Title', y='max_salary', ax=ax, color='r')
sns.barplot(data=df.head(10),x='Job Title', y='min_salary', ax=ax, color='b')
chart = chart.set_xticklabels(
    chart.get_xticklabels(),
    rotation=60,
    horizontalalignment='right',
    fontweight='light'
)
plt.show()

> ## Job Describtion

In [ ]:
text = " ".join(data['Job Description'])
stopwords=set(STOPWORDS)
wc = WordCloud(stopwords=stopwords).generate(text)

plt.figure(figsize=(16,8))
plt.title('Job Description')
plt.axis('off')
plt.imshow(wc);

In [ ]:
data.head()

> ## Ratings

In [ ]:
data['Rating'].describe()

In [ ]:
df = data['Rating'].value_counts()

In [ ]:
df = df.reset_index()
df.rename(columns={'index':'Ratings', 'Rating':'Count'}, inplace=True)
df.sort_values(by=['Ratings'], ascending=False, inplace=True, axis=0)

In [ ]:
plt.figure(figsize=(18,6))
chart = sns.barplot(data=df,
                    x='Ratings',
                    y='Count',
                    palette='Set3')
plt.show()

> ## Company Name

In [ ]:
data['Company Name'].head()

>> ### Cleaning the columns Company Name by removing Rating

In [ ]:
def propername(companyname):
  try:
    import re
    temp = re.findall(r'.*', companyname)
    return temp[0]
  
  except:
    return -1

data['Company Name'] = data[columns[4]].apply(propername)

In [ ]:
data['Company Name'].value_counts()

> ## Location

In [ ]:
data['Location'].value_counts()

>> ### Dividing the Location into state and city

In [ ]:
data['City'] = data[columns[5]].apply(lambda x:x.split(',')[0])
data['State'] = data[columns[5]].apply(lambda x: x.split(' ')[-1])

In [ ]:
data.head()

>> ### plotting 'State' vs 'Count' i.e. number of jobs in that state.

In [ ]:
df = data['State'].value_counts().reset_index()
df.rename(columns={'index':'State', 'State':'Count'}, inplace=True)

In [ ]:
plt.figure(figsize=(18,6))
chart = sns.barplot(data=df,
                    x='State',
                    y='Count',
                    palette='Set2')
chart = chart.set_xticklabels(
    chart.get_xticklabels(),
    rotation=60,
    horizontalalignment='center',
    fontweight='light'
)
plt.xlabel('State', size=13)
plt.ylabel('Count', size=13)
plt.show()

>> ### plotting'City' vs 'Count' i.e. number of jobs in that city, for top 15 cities.

In [ ]:
df = data['City'].value_counts().sort_values(ascending=False).reset_index().head(15)
df.rename(columns={'index':'City', 'City':'Count'}, inplace=True)

In [ ]:
plt.figure(figsize=(18,6))
chart = sns.barplot(data=df,
                    x='City',
                    y='Count',
                    palette='Set2')
chart = chart.set_xticklabels(
    chart.get_xticklabels(),
    rotation=60,
    horizontalalignment='center',
    fontweight='light'
)
plt.xlabel('City', size=13)
plt.ylabel('Count', size=13)
plt.show()

>> ### Top 10 cities with highest average max salary

In [ ]:
df = data.groupby(['City'])['max_salary'].mean().sort_values(ascending=False).reset_index()

In [ ]:
def boxplot(df, x, y, n, i=16):
  plt.figure(figsize=(i,6))
  chart = sns.barplot(data=df.head(n),
                      x=x,
                      y=y,
                      palette='Set2')
  chart = chart.set_xticklabels(
      chart.get_xticklabels(),
      rotation=60,
      horizontalalignment='right',
      fontweight='light'
  )
  plt.xlabel(x, size=13)
  plt.ylabel('Average '+y, size=13)
  plt.show()

boxplot(df, 'City', 'max_salary', 25, 25)

>> ### Word Cloud of cities

In [ ]:
text = " ".join(data['City'])
wc = WordCloud(stopwords=stopwords).generate(text)

plt.figure(figsize=(16,8))
plt.title('Job Description')
plt.axis('off')
plt.imshow(wc);

> ## Industries

In [ ]:
data['Industry'].value_counts()

>> ### Top 15 Industries with average maximun salary

In [ ]:
df = data.groupby(['Industry'])['max_salary'].mean().sort_values(ascending=False).reset_index()
boxplot(df, 'Industry', 'max_salary', 15)

>> ### Top 15 Industries with lowest minimum salary

In [ ]:
df = data.groupby(['Industry'])['min_salary'].mean().sort_values(ascending=True).reset_index()
boxplot(df, 'Industry', 'min_salary', 15)

> ## Sector

>> ### Top 15 sectors with maximum average maximim salary

In [ ]:
df = data.groupby(['Sector'])['max_salary'].mean().sort_values(ascending=False).reset_index()
boxplot(df, 'Sector', 'max_salary', 15)

>> ### Top 15 Sector with lowest average minimum salary

In [ ]:
df = data.groupby(['Sector'])['min_salary'].mean().sort_values(ascending=True).reset_index()
boxplot(df, 'Sector', 'min_salary', 15)