# CO2 Emissions Analysis from 1751 to 2017
## by Ahmed Sayed

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
co2=pd.read_csv('../input/co2-ghg-emissionsdata/co2_emission.csv')

In [ ]:
co2.shape

In [ ]:
co2.head()

In [ ]:
co2.info()

In [ ]:
co2.drop('Code',axis=1,inplace=True)

In [ ]:
co2.info()

In [ ]:
co2.rename(columns={'Annual COâ‚‚ emissions (tonnes )':'A_Co2_emissions(ton)'},inplace=True)

In [ ]:
co2.info()

In [ ]:
co2.head()

In [ ]:
co2.Entity.unique()

In [ ]:
co2.rename(columns={'Entity':'Country'},inplace=True)

In [ ]:
co2.info()

In [ ]:
co2.Year.unique()

In [ ]:
co2.Year.min()

In [ ]:
co2.Year.max()

In [ ]:
co2['A_Co2_emissions(ton)'].max()

In [ ]:
co2['A_Co2_emissions(ton)'].min()

In [ ]:
condition=co2['A_Co2_emissions(ton)']>=0
df=co2[condition]

In [ ]:
df['A_Co2_emissions(ton)'].min()

In [ ]:
df['A_Co2_emissions(ton)'].max()

In [ ]:
df.info()

In [ ]:
sns.distplot(df['A_Co2_emissions(ton)'],kde=False)
plt.show()

In [ ]:
df.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)

In [ ]:
df.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:6]

In [ ]:
plt.style.use('seaborn')
df.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:6].plot(kind='bar')
plt.title('Top 5 Countries in co2 emission from 1751 to 2017',fontweight='bold',fontsize=14)
plt.ylabel('CO2 Emissions in Ton')

## Now we will classify our data into time periods and analyze each one of them
- Period1 smaller than or equal 1800 ( from 1751 to 1800)
- Period2 smaller than or equal 1850 and greater than 1800 ( 1801 to 1850)
- Period3 smaller than or equal 1900 and greater than 1850 ( 1851 to 1900)
- Period4 smaller than or equal 1950 and greater than 1900 ( 1901 to 1950)
- Period5 smaller than or equal 2000 and greater than 1950 ( 1951 to 2000)
- Period6 greater than 2000

In [ ]:
p1_c1=df['Year']<=1800

In [ ]:
period1=df[p1_c1]

In [ ]:
p2_c1=df['Year']<=1850
p2_c2=df['Year']>1800

In [ ]:
period2=df[p2_c1&p2_c2]

In [ ]:
p3_c1=df['Year']<=1900
p3_c2=df['Year']>1850

In [ ]:
period3=df[p3_c1&p3_c2]

In [ ]:
p4_c1=df['Year']<=1950
p4_c2=df['Year']>1900

In [ ]:
period4=df[p4_c1&p4_c2]

In [ ]:
p5_c1=df['Year']<=2000
p5_c2=df['Year']>1950

In [ ]:
period5=df[p5_c1&p5_c2]

In [ ]:
p6_c1=df['Year']>2000

In [ ]:
period6=df[p6_c1]

## Now let's see Co2 emissions in each period grouped by country

### Period 1 from year 1751 to 1800

In [ ]:
sns.distplot(period1['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1751 to 1800 Histogram')
plt.ylabel('CO2 emissions in Tonnes')
plt.show()

In [ ]:
period1.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)

In [ ]:
plt.style.use('seaborn')
period1.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.ylabel('CO2 Emissions in tonnes')
plt.title('Co2 emissions from year 1751 to 1800 by country',fontweight='bold')

In [ ]:
co2_1751_to1800=period1['A_Co2_emissions(ton)'].sum()
period1['A_Co2_emissions(ton)'].sum()

## Period 2 from 1801 to 1850

In [ ]:
sns.distplot(period2['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1801 to 1850 Histogram')
plt.ylabel('CO2 Emissions per tonnes')
plt.show()

In [ ]:
period2.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)

In [ ]:
plt.style.use('seaborn')
period2.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.title('Co2 emissions from year 1801 to 1850 by country',fontweight='bold')
plt.ylabel('CO2 Emissions in tonnes')

In [ ]:
co2_1801_to1850=period2['A_Co2_emissions(ton)'].sum()
period2['A_Co2_emissions(ton)'].sum()

## Period 3 from 1851 to 1900

In [ ]:
sns.distplot(period3['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1851 to 1900 Histogram')
plt.ylabel('CO2 Emissions per tonnes')
plt.show()

In [ ]:
period3.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)

In [ ]:
plt.style.use('seaborn')
period3.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.ylabel('Co2 emissions in ton')
plt.title('Co2 emissions from 1851 to 1900 per country',fontweight='bold')

In [ ]:
co2_1851_to1900=period3['A_Co2_emissions(ton)'].sum()
period3['A_Co2_emissions(ton)'].sum()

## Period 4 from 1901 to 1950

In [ ]:
sns.distplot(period4['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1901 to 1950 Histogram')
plt.show()

In [ ]:
period4.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[:60]

In [ ]:
plt.style.use('seaborn')
period4.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.title('Top 10 coutries in emttiong co2 from 1901 to 1950',fontweight='bold')
plt.ylabel('CO2 Emissions in tonnes')

In [ ]:
co2_1901_to1950=period4['A_Co2_emissions(ton)'].sum()
period3['A_Co2_emissions(ton)'].sum()

## Period 5 from 1951 to 2000

In [ ]:
sns.distplot(period5['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1951 to 2000 Histogram')
plt.show()

In [ ]:
period5.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[:60]

In [ ]:
plt.style.use('seaborn')
period5.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.title('Top 10 coutries in emttiong co2 from 1951 to 2000',fontweight='bold')
plt.ylabel('CO2 Emissions in tonnes')

In [ ]:
co2_1951_to2000=period5['A_Co2_emissions(ton)'].sum()
period5['A_Co2_emissions(ton)'].sum()

## Period 6 from 2000 to 2017

In [ ]:
sns.distplot(period6['A_Co2_emissions(ton)'],kde=False).set_title('Co2 emissions from 1951 to 2000 Histogram')
plt.show()

In [ ]:
plt.style.use('seaborn')
period6.groupby('Country')['A_Co2_emissions(ton)'].sum().sort_values(ascending=False)[1:11].plot(kind='bar')
plt.title('Top 10 coutries in emttiong co2 from 2000 to 2017',fontweight='bold')
plt.ylabel('CO2 Emissions in tonnes')

In [ ]:
co2_2000_to2017=period6['A_Co2_emissions(ton)'].sum()
period6['A_Co2_emissions(ton)'].sum()

In [ ]:
plt.bar([1,2,3,4,5,6],[co2_2000_to2017,co2_1951_to2000,co2_1901_to1950,co2_1851_to1900,co2_1801_to1850,co2_1751_to1800]
       ,tick_label=['2000-2017','1951-2000','1950-1901','1851-1900','1801-1850','1751-1800'])
plt.xtitle=('Time Frames')
plt.ylabel=('CO2 Emissions in ton')
plt.title('CO2 Emissions over different periods of time',fontweight='bold')
plt.show()