In [ ]:
ls /kaggle/input

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('../input/database.sqlite')

In [ ]:
cursor = con.cursor()
cursor.execute("SELECT * FROM StateNames LIMIT 10;")

In [ ]:
print(cursor.fetchall())

In [ ]:
list(map(lambda x: x[0], cursor.description))

In [ ]:
cursor = con.execute("SELECT Year, COUNT(*) FROM StateNames GROUP BY Year;")
print(cursor.fetchall())

In [ ]:
print(cursor)

In [ ]:
print(cursor.fetchall())

In [ ]:
cursor = con.execute("SELECT Year, COUNT(*) FROM StateNames GROUP BY Year;")
print(cursor.fetchall())

In [ ]:
cursor = con.execute("SELECT State, COUNT(*) FROM StateNames GROUP BY State;")
print(cursor.fetchall())

In [ ]:
cursor = con.execute("SELECT Name, COUNT(*) FROM StateNames GROUP BY Name ORDER BY COUNT(*) DESC;")
print(cursor.fetchall())