In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ap_df = pd.read_csv('../input/credit-card-approval-prediction/application_record.csv')
cr_df = pd.read_csv('../input/credit-card-approval-prediction/credit_record.csv')

* Just OCCUPATION_TYPE Contain Null Value In ap_df

In [ ]:
ap_df.info()

* No Null Value In cr_df

In [ ]:
cr_df.info()

### TIP: Before We Try Do Anything Fill-Value, Visualize, ....                     We Have Two DataSets That Common IN ID Column So JOIN It Together As a One DataSet But In cr_df We Have 1048575 Value Instead Of 438557

## Best Document I Ever Seen For Merge And Join, Concatenate 
                https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
result = pd.merge(cr_df, ap_df, on="ID")

 * Just OCCUPATION_TYPE Contain Null Value

In [ ]:
result.info()

In [ ]:
result['OCCUPATION_TYPE'].unique()

## 3 Way To Do With Null Value:
* Delet the OCCUPATION_TYPE Columns
* Use Dropna()
* Fillna() by ffill, bfill

In [ ]:
result

In [ ]:
def convert_dayTOmonth(days):
    day = int(days) / 365
    convert = '{:5.1f}'.format(day)
    return convert
#just for check the function:
#convert_dayTOmonth(25152)

In [ ]:
result['DAYS_BIRTH'] = result['DAYS_BIRTH'].apply(convert_dayTOmonth)

In [ ]:
result

In [ ]:
result['DAYS_EMPLOYED'] = result['DAYS_EMPLOYED'].apply(convert_dayTOmonth)

In [ ]:
result.rename(columns={'DAYS_BIRTH':'Age', 'DAYS_EMPLOYED': 'Experience'}, inplace=True)

In [ ]:
result['Experience'] = result['Experience'].astype('float32')
result['age'] = result['Experience'].astype('int')

* Experience > 0 means people does not have job now (True)

In [ ]:
(result['Experience'] > 0 ).value_counts().plot(kind='bar')

In [ ]:
result

## Let's Delete All Flag:

In [ ]:
result.drop(columns=['FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL'], inplace=True)

In [ ]:
result.drop('age', axis=1, inplace=True)

* 60.9% pepole Does'n Have Any Car

In [ ]:
result['FLAG_OWN_CAR'].value_counts().plot(kind='pie', explode=(0.1,0), shadow=True, autopct='%1.1f%%')

* 66.7% are Women

In [ ]:
result['CODE_GENDER'].value_counts().plot(kind='pie', explode=(0.1,0), shadow=True, autopct='%1.1f%%')

## See Most Of Family Does'n Have Any Children

In [ ]:
result['CNT_CHILDREN'].value_counts()

## Fill-Null Value by 0 In occupation_type:

In [ ]:
result['OCCUPATION_TYPE'].fillna('0', inplace=True)

In [ ]:
result['NAME_EDUCATION_TYPE'].unique()

In [ ]:
result['CNT_FAM_MEMBERS'].value_counts()

In [ ]:
result

In [ ]:
a = result.pivot_table(index='NAME_EDUCATION_TYPE', columns='CODE_GENDER', values=['CNT_CHILDREN'], aggfunc='size')

In [ ]:
a.plot(kind='bar', figsize=(12, 5))

In [ ]:
result.groupby(['CODE_GENDER', 'NAME_EDUCATION_TYPE']).size().plot(kind='barh', figsize = (12, 8))

In [ ]:
result['AMT_INCOME_TOTAL'] = result['AMT_INCOME_TOTAL'].astype('int')

## Most 15 AMT_INCOME_TOTAL:

In [ ]:
most = result['AMT_INCOME_TOTAL'].value_counts()[:15]

In [ ]:
most.index.values

In [ ]:
def most_income(x):
    if x in most.index.values:
        return x
    else:
        return np.nan

In [ ]:
result['AMT_INCOME_TOTAL'] = result['AMT_INCOME_TOTAL'].apply(most_income)

In [ ]:
df1 = result.dropna()

In [ ]:
df1

### Wow If You Look At The Plot See The 2 Family Most Have 2 Children Has More Income

In [ ]:
df1.groupby(['AMT_INCOME_TOTAL', 'CNT_FAM_MEMBERS']).size().plot(kind='barh', figsize=(20, 20), grid=True)

### So Cool The 2 Chlidren , 117500 Secondry Education Most Common:

In [ ]:
df1.groupby(['AMT_INCOME_TOTAL', 'CNT_FAM_MEMBERS', 'NAME_EDUCATION_TYPE']).size().plot(kind='barh', figsize=(50, 50), grid=True)

In [ ]:
df1.groupby(['AMT_INCOME_TOTAL', 'CNT_FAM_MEMBERS', 'CODE_GENDER']).size().plot(kind='barh', figsize=(30, 30), grid=True)