In [4]:
# Import library
import sqlite3
import pandas as pd

# Create connection with SQLite database
conn = sqlite3.connect(":memory:")

# Create dataframes by importing reviews.csv and pricing_plans.csv, and transform them into sqlite file.
df = pd.read_csv('../input/reviews.csv')
df.to_sql('reviews', conn, if_exists='append', index=False)
print('ok')
df = pd.read_csv('../input/pricing_plans.csv')
df.to_sql('pricing_plans', conn, if_exists='append', index=False)
print('ok')

ok
ok

In [7]:
# Check the head of two dataframes
pd.read_sql("""

SELECT *
FROM reviews
LIMIT 50

""",con=conn)

pd.read_sql("""

SELECT *
FROM pricing_plans
LIMIT 50

""",con=conn)

    id                        ...                                                                       hint
0    0                        ...                                                                       None
1    1                        ...                                                                       None
2    2                        ...                                                                       None
3    3                        ...                                                                       None
4    4                        ...                                                                       None
5    5                        ...                                                                       None
6    6                        ...                                                    2.5% on sales recovered
7    7                        ...                                                                       None
8    8                        ...                          *Paid Add ons Available- Store credits & 3 others
9    9                        ...                          you only pay what you’ve actually used, and no...
10  10                        ...                          you only pay what you’ve actually used, and no...
11  11                        ...                                           Cost will be based on customers.
12  12                        ...                                                                       None
13  13                        ...                                                                       None
14  14                        ...                                                                       None
15  15                        ...                                                                       None
16  16                        ...                                                                       None
17  17                        ...                                                                       None
18  18                        ...                                                                       None
19  19                        ...                                                                       None
20  20                        ...                                                                       None
21  21                        ...                                                                       None
22  22                        ...                                                                       None
23  23                        ...                                                                       None
24  24                        ...                                                                       None
25  25                        ...                                                                       None
26  26                        ...                                                                       None
27  27                        ...                                                                       None
28  28                        ...                          $12.00/month subscription, each additional age...
29  29                        ...                                                                       None
30  30                        ...                                                                       None
31  31                        ...                                                                       None
32  32                        ...                                                                       None
33  33                        ...                                                                       None
34  34                        ...                                                                       None
35  35                        ...                                                                       None
36  36                        ...                                                                       None
37  37                        ...                          $79 = 40 credits, $299 = 170 credits, $1599 = ...
38  38                        ...                                                                       None
39  39                        ...                                                                       None
40  40                        ...                                                                       None
41  41                        ...                                                                       None
42  42                        ...                                                                       None
43  43                        ...                                                                       None
44  44                        ...                                                                       None
45  45                        ...                                                                       None
46  46                        ...                                                                       None
47  47                        ...                                                                       None
48  48                        ...                                                                       None
49  49                        ...                                                                       None

[50 rows x 5 columns]

In [8]:
# Check the count of different rating levels
pd.read_sql("""

SELECT rating,count(*) as [count]
FROM reviews
GROUP BY rating

""",con = conn)

   rating   count
0       1    8913
1       2    2552
2       3    5783
3       4   23507
4       5  246712

In [ ]:
# Check the count of different rating levels
pd.read_sql("""

SELECT rating,count(*) as [count]
FROM reviews
GROUP BY rating

""",con = conn)

In [9]:
# Join pricing,ratings and helpful_count by app_url.
pd.read_sql("""

    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url

""",con = conn)

        rating  helpful_count        price
0            1              0  $4.99/month
1            5              0  $4.99/month
2            5              0  $4.99/month
3            5              0  $4.99/month
4            5              0  $4.99/month
5            5              1    $29/month
6            5              1    $49/month
7            5              1    $79/month
8            5              1    $99/month
9            5              1    $29/month
10           5              1    $49/month
11           5              1    $79/month
12           5              1    $99/month
13           5              1    $29/month
14           5              1    $49/month
15           5              1    $79/month
16           5              1    $99/month
17           5              0    $29/month
18           5              0    $49/month
19           5              0    $79/month
20           5              0    $99/month
21           5              0    $29/month
22           5              0    $49/month
23           5              0    $79/month
24           5              0    $99/month
25           5              0         Free
26           5              1         Free
27           5              0         Free
28           5              1         Free
29           5              2         Free
...        ...            ...          ...
586223       5              0    $79/month
586224       5              0         Free
586225       5              0    $24/month
586226       5              0   $299/month
586227       5              0    $79/month
586228       5              0         Free
586229       5              0    $24/month
586230       5              0   $299/month
586231       5              0    $79/month
586232       5              0         Free
586233       2              0    $24/month
586234       2              0   $299/month
586235       2              0    $79/month
586236       2              0         Free
586237       5              0    $24/month
586238       5              0   $299/month
586239       5              0    $79/month
586240       5              0         Free
586241       5              0    $24/month
586242       5              0   $299/month
586243       5              0    $79/month
586244       5              0         Free
586245       5              0    $24/month
586246       5              0   $299/month
586247       5              0    $79/month
586248       5              0         Free
586249       5              0    $24/month
586250       5              0   $299/month
586251       5              0    $79/month
586252       5              0         Free

[586253 rows x 3 columns]

In [11]:
# Check the ratings of apps with free charging.
pd.read_sql("""

SELECT *
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price = 'Free' OR price = 'Free to install'
ORDER BY rating DESC

""",con=conn)

# We also want to know the count of different rating levels among free apps.
pd.read_sql("""

SELECT rating,count(*) as [count]
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price = 'Free' OR price = 'Free to install'
GROUP BY rating
ORDER BY rating DESC

""",con=conn)
# We can see that most free apps are rated 5.

   rating   count
0       5  173433
1       4   18581
2       3    4531
3       2    1729
4       1    5907

In [12]:
# So what about ratings of charged apps?
pd.read_sql("""

SELECT *
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price != 'Free' AND price != 'Free to install'
ORDER BY rating DESC

""",con=conn)

# and the count of their rating levels
pd.read_sql("""

SELECT rating,count(*) as [count]
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price != 'Free' AND price != 'Free to install'
GROUP BY rating
ORDER BY rating DESC

""",con=conn)
#Oops, it seems that most charged apps are also rated 5.

   rating   count
0       5  330081
1       4   30593
2       3    7449
3       2    3337
4       1   10612

In [14]:
# How many apps rated 5 in total?
pd.read_sql("""

SELECT COUNT(*)
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE rating = 5

""",con=conn)
# Among all the apps rated 5, how many are free apps?
pd.read_sql("""

SELECT price,count(*) as [count]
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE (price = 'Free' OR price = 'Free to install') AND rating = 5

""",con=conn)

   COUNT(*)
0    503514

In [15]:
# Then what about the helpful_count of free apps?
pd.read_sql("""

SELECT helpful_count,count(*) as [count]
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price = 'Free' OR price = 'Free to install'
GROUP BY helpful_count
ORDER BY helpful_count DESC

""",con=conn)

# as well as the helpful_count of charged apps
pd.read_sql("""

SELECT helpful_count,count(*) as [count]
FROM (
    SELECT rating, helpful_count, price
    FROM reviews
    JOIN pricing_plans
    ON reviews.app_url = pricing_plans.app_url
    )
WHERE price != 'Free' AND price != 'Free to install'
GROUP BY helpful_count
ORDER BY helpful_count DESC

""",con=conn)

    helpful_count   count
0              49       2
1              46       2
2              44       2
3              43       4
4              42       6
5              41       4
6              39       1
7              38       4
8              36       6
9              35      10
10             28       6
11             27       8
12             26       8
13             25      19
14             24      16
15             23      18
16             22      16
17             21       7
18             20      13
19             19      16
20             18      14
21             17      27
22             16      29
23             15      42
24             14      53
25             13      50
26             12      71
27             11      99
28             10     143
29              9     282
30              8     420
31              7     561
32              6     626
33              5     983
34              4    1346
35              3    2245
36              2    5582
37              1   18258
38              0  351073