In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_excel("../input/DIM_MATCH.xlsx")

data.head()

   Match_SK  match_id    ...     Win_Margin Country_id
0       546    980964    ...            5.0          1
1       547    980966    ...            8.0          1
2       548    980968    ...            7.0          1
3       549    980970    ...            7.0          1
4       550    980972    ...            5.0          1

[5 rows x 17 columns]

In [4]:
data.describe()

         Match_SK      match_id  Season_Year  Win_Margin  Country_id
count  637.000000  6.370000e+02   637.000000  628.000000  637.000000
mean   318.000000  6.378825e+05  2012.497645   17.272293    1.152276
std    184.030342  2.356312e+05     2.776600   22.212632    0.438388
min      0.000000  3.359870e+05  2008.000000    0.000000    1.000000
25%    159.000000  4.191550e+05  2010.000000    6.000000    1.000000
50%    318.000000  5.483830e+05  2012.000000    8.000000    1.000000
75%    477.000000  8.297480e+05  2015.000000   20.000000    1.000000
max    636.000000  1.082650e+06  2017.000000  146.000000    3.000000

In [15]:
data.columns.tolist()

['Match_SK',
 'match_id',
 'Team1',
 'Team2',
 'match_date',
 'Season_Year',
 'Venue_Name',
 'City_Name',
 'Country_Name',
 'Toss_Winner',
 'match_winner',
 'Toss_Name',
 'Win_Type',
 'Outcome_Type',
 'ManOfMach',
 'Win_Margin',
 'Country_id']

In [28]:
# Number of IPL data
ipl_seasons = data['Season_Year'].unique()
ipl_seasons = np.sort(ipl_seasons)
print(ipl_seasons)

[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017]

This data set contains the data from 2008 to 2017 i.e 10 years of data

Let us find out the most number of match winner every year

In [33]:
print(data.groupby('Season_Year')['ManOfMach'].mode())

AttributeError: Cannot access callable attribute 'mode' of 'SeriesGroupBy' objects, try using the 'apply' method

In [ ]:
info = data.ManOfMach.value_counts()[0:10]

fig,ax = plt.subplots(figsize = (15,6))

ax.bar(info.keys(),info)

plt.title("Man of the Match")
plt.xlabel("Player Name")
plt.ylabel("No of times")

plt.show()

In [ ]:
data.isnull().sum()

data=data.dropna(axis=0,how="any")

data.isnull().sum()

In [ ]:
data.count()

In [ ]:
data.head()

info = data.Season_Year.value_counts()

fig,ax = plt.subplots(figsize = (12,6))

ax.bar(info.keys(),info, color="c", alpha=.3, width=.5)

plt.xlabel("Year")
plt.ylabel("Matches Played")

plt.show()

In [ ]:
info = data.Venue_Name.value_counts()

fig,ax = plt.subplots(figsize = (15,6))

ax.bar(info.keys(),info)

ax.set_xticklabels(info.keys())
plt.tight_layout()

fig.autofmt_xdate()

plt.show()

In [ ]:
data.head()

info = data.match_winner.value_counts()    

fig,ax = plt.subplots()

ax = plt.pie(info,labels=info.keys(), autopct = '%1.1f%%', radius=2)


plt.show()