In [ ]:
%config Completer.use_jedi = False

In [ ]:

import numpy as np 
import pandas as pd  

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
path = "/kaggle/input/test-file/tested.csv"
df = pd.read_csv(path)
df.info()

In [ ]:
df.count()

In [ ]:
df["Sex"].value_counts()

In [ ]:
df["Cabin"].value_counts()

In [ ]:
#df navigation

df.iloc[4]

In [ ]:
df.iloc[0:10]

In [ ]:

df[df["Sex"]=="female"]

In [ ]:
df[(df["Sex"]=="female") & (df["Age"]>65)]

In [ ]:
df =  df[(df["Sex"]=="female") & (df["Age"]>40) &(df["Survived"]==1)] 
print("Rows found ==> ",df.shape[0])

In [ ]:
df[(df["Sex"]=="female") & (df["Age"]>40) &(df["Survived"]==1)]

# Replacing Values

In [ ]:
df['Sex'].head(2)

In [ ]:
df['Sex'].replace("female", "Woman").head(2)

In [ ]:
df['Sex'].replace(["female", "male"], ["Woman", "Man"]).head(5)

# Renaming Columns

In [ ]:

df.rename(columns={'Pclass': 'Passenger Class'}).head(2)

# Finding the Minimum, Maximum, Sum, Average, and Count

In [ ]:
# Calculate statistics
print('Maximum:', dataframe['Age'].max())
print('Minimum:', dataframe['Age'].min())
print('Mean:', dataframe['Age'].mean())
print('Sum:', dataframe['Age'].sum())
print('Count:', dataframe['Age'].count())

# Finding Unique Values

In [ ]:
df.Sex.unique()

# Handling Missing Values

In [ ]:
## Select missing values, show two rows
df[df['Cabin'].isnull()].head(2)

To have full functionality with NaN we need to import the NumPy library first:

In [ ]:
df['Cabin'] = df['Cabin'].replace('E84', np.nan)
dataframe = df

# Deleting a Column

In [ ]:
df.drop(['Age', 'Sex'], axis=1).head(2)

In [ ]:
df.drop(df.columns[1], axis=1).head(2)

In [ ]:
# Delete rows, show first two rows of output
dataframe[dataframe['Sex'] != 'male'].head(2)

In [ ]:
#delete a single row by row index:
dataframe[dataframe.index != 0].head(2)

# Grouping Rows by Values

In [ ]:
dataframe.groupby('Survived')['Name'].count()

In [ ]:
df.groupby(['Sex','Survived'])['Age'].mean()

# By time

In [ ]:
# Create date range
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')
# Create DataFrame
dfr = pd.DataFrame(index=time_index)
# Create column of random values
dfr['Sale_Amount'] = np.random.randint(1, 10, 100000)
dfr.resample('W').sum()

# Applying a Function Over All Elements in a Column

In [ ]:
def uppercase(x):
    return x.upper()
# Apply function, show two rows
dataframe['Name'].apply(uppercase)[0:2]

# apply function to groups

In [ ]:
dataframe.groupby('Sex').apply(lambda x: x.count())

# Concatenating DataFrames

In [ ]:
data_a = {'id': ['1', '2', '3'],
'first': ['Alex', 'Amy', 'Allen'],
'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])
# Create DataFrame
data_b = {'id': ['4', '5', '6'],
'first': ['Billy', 'Brian', 'Bran'],
'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])
# Concatenate DataFrames by rows
pd.concat([dataframe_a, dataframe_b], axis=0)

# add a new row to a DataFrame:

In [ ]:
row = pd.Series([10, 'Chris', 'Chillon'], index=['id', 'first', 'last'])
# Append row
dataframe_a.append(row, ignore_index=True)

# merge two DataFrames.

In [ ]:
employee_data = {'employee_id': ['1', '2', '3', '4'],
'name': ['Amy Jones', 'Allen Keys', 'Alice Bees',
'Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id',
'name'])
# Create DataFrame
sales_data = {'employee_id': ['3', '4', '5', '6'],
'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id',
'total_sales'])
# Merge DataFrames
pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

Left, right or outer join using How parameter:-

In [ ]:
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

Merging by column name

In [ ]:
pd.merge(dataframe_employees,
dataframe_sales,
left_on='employee_id',
right_on='employee_id')