**Hi All **😍😍💕

Today we will discover how to use the knowledge of SQL with Pandas.
* SQL : SQL (pronounced "ess-que-el") stands for Structured Query Language. SQL is used to communicate with a database. According to ANSI (American National Standards Institute), it is the standard language for relational database management systems. SQL statements are used to perform tasks such as update data on a database, or retrieve data from a database. Some common relational database management systems that use SQL are: Oracle, Sybase, Microsoft SQL Server, Access, Ingres, etc. Although most database systems use SQL, most of them also have their own additional proprietary extensions that are usually only used on their system. However, the standard SQL commands such as "Select", "Insert", "Update", "Delete", "Create", and "Drop" can be used to accomplish almost everything that one needs to do with a database.
* Pandas : The Pandas Python library is an open-source library for data manipulation and analysis. Pandas is the most widely used data analysis library in Python; and rightly so, as with a single line of code, it can take data from a CSV, an Excel sheet or JSON and create the famous data object DataFrames.

DataFrames are essentially tabular data structures, i.e. data represented by columns and rows. This should be familiar to anyone working with Excel, SQL or SPSS and even R.

 the first thing to do is import the necessary libraries and load our data into a DataFrame:

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from pandasql import sqldf
df = pd.read_csv('../input/us-election-2020-tweets/hashtag_joebiden.csv', lineterminator='\n')
df1 = pd.read_csv('../input/us-election-2020-tweets/hashtag_donaldtrump.csv', lineterminator='\n')

In [ ]:
df

**pandas.isna()**


The isna function on it’s own isn’t particularly useful since it will return the whole dataframe with either False if the field is populated or True if it is a NaN or NULL value. If you include .sum() with isna(), then you’ll get an output like the one below with a count of NaN or NULL fields for each column.

In [ ]:
df.isna().sum()

In [ ]:
df1

In [ ]:
df1.isna().sum()

In [ ]:
# make time the index (this will help with plot ticks)


# make figure and axis objects
fig, ax = plt.subplots(1, 1, figsize=(22,8))
df.plot(y='retweet_count', ax=ax, color='red', alpha=.6)
fig.savefig('fig1.png')
plt.show()

Now we will pass some SQL commands using pysqldf(‘SQL Command’):

In [ ]:
#SQLDF - Structured Query Language (SQL) on DataFrames (DF)
#A simple wrapper to run SQL (SQLite) queries on pandas.DataFrame objects (Python).
pysqldf = lambda q: sqldf(q, globals())

For example, we wanted to create a new DataFrame with Top 15 entries from our original DataFrame, df:

In [ ]:
df_10 = pysqldf("SELECT * FROM df LIMIT 15")
print(pysqldf('SELECT * FROM df_10'))

In [ ]:
df_10 = pysqldf("SELECT * FROM df1 LIMIT 15")
print(pysqldf('SELECT * FROM df_10'))

In [ ]:
print(pysqldf("""SELECT retweet_count, count(*) as 'TotalNo'
FROM df
GROUP BY retweet_count
HAVING COUNT(*) > 1000
ORDER BY 1
"""))

In [ ]:
print(pysqldf("""SELECT retweet_count, count(*) as 'TotalNo'
FROM df1
GROUP BY retweet_count
HAVING COUNT(*) > 1000
ORDER BY 1
"""))