## Context

Starting in 2008, every year Forbes Magazine publishes a list of America's best colleges. When it comes to the question everyone seems to be asking, â€œIs college worth it? this published list of colleges comes handy to take a decision based on student's requirement or desire.

The mission of the college ranking by Forbes Magazine is to conduct an annual review of the undergraduate institutions that deliver the top academics, best experiences, career success and lowest debt. Whether a school is in the Top 10 or near the bottom of the list, the 650 colleges are the best in the country.

For most families, choosing a four-year college is one of the biggest and most expensive decisions they can make. For students, this time of their life may layout their future plans. So choose carefully.

## About Data

The data set contains the rankings of 650 Unites States colleges along with various other statistics pertaining to each school.

<img src ="https://i.ibb.co/sKwQjfw/Stanford.jpg" width=80% height =40%></img>

### Load required packages

In [ ]:
import pandas as pd
import numpy as np

### Load the data into pandas dataframe and view the details

In [ ]:
colleges=pd.read_csv('../input/forbes-americas-top-colleges-2019/ForbesAmericasTopColleges2019.csv')
colleges.head()

### Dimension of the data

*'shape'* is a property associated with DataFrame. It returns a tuple representing the dimensionality of the DataFrame. First value is giving number of rows and second value is giving number of columns.

In [ ]:
colleges.shape

In [ ]:
print('The Number of Rows in the Dataset are',colleges.shape[0],'\nThe Number of Columns in the Dataset are ',colleges.shape[1])

### Datatype of the fields in the data

'info()' method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage

In [ ]:
colleges.info()

### Check the missing values in the data
'isnull()' method detects missing values. It returns a boolean same-sized object indicating if the values are NA. NA values, gets mapped to True values.Everything else gets mapped to False values.

'sum()' method followed by 'isnull()' adds up all the True instances per column to give a summary of missing values per column

In [ ]:
colleges.isnull().sum()

### Data Cleanup

Let's first drop all columns that are not need. 

'drop()' method with 'axis=1' indicates that columns have to be dropped. List of column names to be dropped is passed to the method. 'inplace = True' ensures that the columns are dropped from the DataFrame permanently

In [ ]:
colleges.drop(['Website', 'SAT Lower','SAT Upper','ACT Lower','ACT Upper'], axis=1, inplace=True)

'dropna()' method drops all rows with NA values (by default axis = 0)

In [ ]:
colleges.dropna(inplace=True)

In [ ]:
colleges

### Reset the index of the dataframe

'reset_index()' resets the index of the DataFrame

'drop' as True, will not try to insert index into DataFrame columns

'inplace' as True resets the index permanently

In [ ]:
colleges.reset_index(drop=True, inplace=True)

In [ ]:
colleges

### Check the first 5 rows of the dataset
'head()' function is used to view the top records. By default it displays 5 rows.

In [ ]:
colleges.head()

### Display the last five rows of the dataset
'tail()' function is used to view the last records. By default it displays 5 rows.

In [ ]:
colleges.tail()

### Recheck the dimension and info of the data

In [ ]:
colleges.shape

# Data Analysis

### Get Summary of Data

'describe()' method generates descriptive statistics. Descriptive statistics include those that summarize the central
tendency, dispersion and shape of a dataset's distribution, excluding 'NaN' values

In [ ]:
colleges.describe()

### 1) Which are the top 5 colleges listed in the Forbes Magazine 2019?

As we need the 'Name' of the colleges, we first pick the 'Name' column and then display the top 5 rows using head() function

<img src ="https://i.ibb.co/dj0PFhK/Harvard.jpg" width=80% height =40%></img>

In [ ]:
colleges.Name.head()

We can also save the information in an object 'top5' and display it

In [ ]:
top5=colleges.Name.head()
top5

### 2) Which state and city do the top 5 colleges belong to?

As we need the 'Name', 'City' and 'State' of the colleges, we first pick the required columns and then display the top 5 rows using head() function

In [ ]:
colleges.loc[:4,['Name','City','State']]

In [ ]:
colleges[['Name','City','State']].head(5)

Note:

As 'City' and 'State' are immediate columns after 'Name', iloc can also be used to get the results

In [ ]:
colleges.iloc[0:5,0:4]

### 3) How many states and which all states have the colleges listed by Forbes?

'nunique()' returns number of unique elements in the object. As we want number of unique states, we first pick up the 'State' column of the DataFrame and then call nunique() function

In [ ]:
print(colleges.State.nunique())
print(colleges.State.unique())

'unique()' function returns unique values of Series object. Hence, we first pick up the 'State' column of the DataFrame and then call unique() function to get all all the States

### 4) In all how many private and public colleges are there in the given list?

'Public/Private' column is of object data type in the DataFrame.

'value_counts()' returns a series containing counts of unique values

In [ ]:
colleges.groupby('Public/Private').count().Name

In [ ]:
colleges['Public/Private'].value_counts()

### 5) From the list how many colleges are there within each State? Which State has highest number of colleges?

As we have to find number of colleges within each State, we first group (groupby()) the data based on 'State'. For each State we then count the colleges using number of unique values (nunique())  in 'Name' field.

As we want the 'State' with highest number of colleges, we sort the values (sort_values()) in descending order to get the results.

<img src ="https://i.ibb.co/GcnXVC0/New-York.jpg" width=80% height =40%></img>

In [ ]:
colleges.groupby('State').nunique().Name.sort_values(ascending=False)

In [ ]:
colleges.groupby('State').nunique().Name.sort_values(ascending=False).head(1)

### 6) What is percentage of undergraduates in each college? (Add a new field to calculate)

Divsion of 'Undergraduate Population' by 'Student Population' multiplied by 100 will give percentage of undergraduates.

round() method will round off the derived value to 2 decimal places which is then stored in new field 'Percentage UG'

In [ ]:
colleges['Percentage UG']=round(colleges['Undergraduate Population']*100/colleges[ 'Student Population'],2)

In [ ]:
colleges

### 7) Which are the 5 colleges with highest percentage of undergraduates?

Let's just pick up 'Name' and 'Percentage UG' field, sort by 'Percentage UG' in descending order to get the desired ouput

In [ ]:
colleges.sort_values(by='Percentage UG').tail(5).Name

In [ ]:
colleges[['Name','Percentage UG']].sort_values(by='Percentage UG', ascending = False).head(5)

### 8) 5 colleges that receive highest Average Grant Aid?

Sort 'Average Grant Aid' in descending order and pick up the top 5 colleges using 'Name' field

<img src ="https://i.ibb.co/TMtRJ54/Yale.jpg" width=80% height =40%></img>

In [ ]:
colleges.sort_values(by='Average Grant Aid').tail(5).Name


### 9) What is the average Undergraduate population in State of 'CA'?

First lets filter the DataFrame and get only rows with 'State' as 'CA'

We then pick up the 'Undergraduate Population' for the above subset and calculate its mean

round off the final value to 2 decimal places using the round() function

In [ ]:
round(colleges[colleges.State=='CA']['Undergraduate Population'].mean(),2)

### 10) Which are the colleges where chances of admission is high?

As per the data dictionary 'Acceptance Rate' field provides information on chances of admission. We can sort this column in descending order to get the results

In [ ]:
colleges.sort_values(by='Acceptance Rate').tail(5).Name

In [ ]:
colleges.sort_values(by='Acceptance Rate', ascending = False).head(5)

### 11) Find if there are any 'Art' colleges in the list

To find a specific string value 'Art' we will use the 'contains()' method. We will pass the string in the paranthesis which needs to be located in the dataframe variable.

In [ ]:
colleges[colleges.Name.str.contains('Art')]
## threre are actually two Art colleges but were deleted because of dropna()

In [ ]:
colleges[colleges['Name'].str.contains("Art")]

### 12) Lets divide the Alumni Salary equally into 3 buckets (Low Salary - L; Medium Salary - M; High Salary - H ) and check which colleges falls in 'H' bucket

In [ ]:
Sal_bucket=list(np.linspace(colleges['Alumni Salary'].min(),colleges['Alumni Salary'].max(),4))

In [ ]:
Sal_bucket

In [ ]:
colleges[(colleges['Alumni Salary']>=Sal_bucket[2])&(colleges['Alumni Salary']<Sal_bucket[3])]

Take a copy of the original DataFrame to work on

In [ ]:
colleges1=colleges.copy()

'cut()' function bins values into discrete intervals. 'cut()' function is used when you need to segment and sort data values into bins. This function is also useful for going from a continuous variable to a categorical variable.

In the above code we have created 3 bins using 'Alumni Salary' column. Lowest range of salary is labelled as 'L', middle range is labelled as 'M' and highest range of salary is labelled as 'H'. These labels are saved in a new column 'Alumni Sal Level'.

Note: The entire range of the 'Alumni Salary' has been divided into 3 equal ranges i.e. 3 bins

In [ ]:
colleges1['Alumni Sal Level'] = pd.cut(x=colleges1['Alumni Salary'], bins=Sal_bucket,labels=['L','M','H'])

In [ ]:
colleges1

In [ ]:
colleges1['Alumni Sal Level'].value_counts()

### 13) Let's check the mean Alumni Salary at each level

In [ ]:
colleges1.groupby('Alumni Sal Level')['Alumni Salary'].mean()

### 14) Let's create a new dataframe to further analyze the 28 colleges with High Alumni Salary

In [ ]:
high_salary_colleges=colleges1[colleges1['Alumni Sal Level']=='H']
high_salary_colleges

Passing 'include = 'all'' to describe() method provides descriptive summary of all fields in the DataFrame. 'T' property transposes the table which helps in reviewing the statistics per column

In [ ]:
high_salary_colleges.describe(include='all').T

Observations:

Out of the 28 shortlisted colleges 22 are private colleges

'CA' is the State which has higest number of these colleges

'Net Price' of these colleges ranges from minimum of 6758 to maximum of 40376

Average 'Acceptance Rate' of these colleges is 28.04

Further analysis can be done on this dataset using the different methods(groupby, sort, nunique) we applied on the whole DataFrame