In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv('../input/apartment-prices-in-the-city-ho-chi-minh-city/chung cu chotot.csv')

In [ ]:
df1 = df

In [ ]:
df1.head()

# ****Data preprocessing

In the Area column, there are two values that we need to care about: the area of the house and the number of bedrooms in the house. So we separate the Area column into 2 different columns for easy handling.

In [ ]:

df1[['area_m2', 'number_of_bedrooms']] = df1['area'].str.split('-',expand=True)

In [ ]:
df1 = df1.drop(['area','Unnamed: 0'],1)

In [ ]:
df1.head()

price_VND
2,1 tỷ: 2,1 Billion
2,2 tỷ: 2,2 Billion
39 triệu: 39 million

So, we replace 'tỷ' to number

In [ ]:
for index,row in df1.iterrows():
    if len(str(row.price_VND)) == 8:
        row['price_VND'] = row['price_VND'].replace(" tỷ",",000,000")
    if len(str(row.price_VND)) == 7:
        row['price_VND'] = row['price_VND'].replace(" tỷ","0,000,000")
    if len(str(row.price_VND)) == 6:
        row['price_VND'] = row['price_VND'].replace(" tỷ","00,000,000")
    if len(str(row.price_VND)) == 4:
        row['price_VND'] = row['price_VND'].replace(" tỷ",",000,000,000")
    if 'triệu' in row.price_VND:
        row['price_VND'] = row['price_VND'].replace(" triệu",",000,000")
# for index,row in df1.iterrows():
#     row['price'] = row['price'].replace(",","")

In [ ]:
for index,row in df1.iterrows():
    row['price_VND'] = row['price_VND'].replace(" tỷ",",000,000,000")

In [ ]:
i = 1
for index,row in df1.iterrows():
    try:
#         print(i)
    #     [row['number_of_bedrooms'] and row['number_of_bedrooms'].replace("PN","") for row['number_of_bedrooms'] in items]
        row['number_of_bedrooms'] = row['number_of_bedrooms'].replace("PN","")
    except:
        pass
    i=i+1

In [ ]:
for index,row in df1.iterrows():
    row['area_m2'] = row['area_m2'].replace("m²","")

In [ ]:
for index,row in df1.iterrows():
    row['price_VND'] = row['price_VND'].replace(",","")

In [ ]:
df1.tail()

In [ ]:
# df1 = df1.drop('area',1)

In [ ]:
df1.head()

In [ ]:
df1.info()

When I run the 3 lines of code below, it can't be convert data because some rows are formatted wrong, so we loop each row of data and convert data, if fails, then fill is null

In [ ]:
# df1['price_VND'] = df1['price_VND'].astype(int)
# df1['area_m2'] = df1['area_m2'].astype(float)
# df1['number_of_bedrooms'] = df1['number_of_bedrooms'].astype(int)

In the data there is some data that is still in the wrong format, in this case it is "2.000 đ", so we will fill na

In [ ]:
for index,row in df1.iterrows():
    try:
#     df1['price_VND'] = df1['price_VND'].astype(int)
        row['price_VND'] = int(row['price_VND'])
    except:
        print(row)
#         row.drop('index', inplace=True)
        row['price_VND'] = np.NaN

In [ ]:
df1.sample(10)

In [ ]:
for index,row in df1.iterrows():
    try:
        row['area_m2'] = float(row['area_m2'])
    except:
        print(row)
        row['area_m2'] = np.NaN

In [ ]:
for index,row in df1.iterrows():
    try:
        row['number_of_bedrooms'] = int(row['number_of_bedrooms'])
    except:
        print(row)
        row['number_of_bedrooms'] = np.NaN

In [ ]:
df1.info()

In [ ]:
df1 = df1.dropna()

In [ ]:
df1['price_VND'] = df1['price_VND'].astype(int)
df1['area_m2'] = df1['area_m2'].astype(float)
df1['number_of_bedrooms'] = df1['number_of_bedrooms'].astype(int)

In [ ]:
df1.info()

# EDA

In [ ]:
df1.describe()

In [ ]:
df1.sample(10)

I will convert VND to USD
1 USD = 23.000 VND

In [ ]:
df1['price'] = round(df1['price_VND']/23000)
df1.drop('price_VND', inplace = True,axis=1)

House Prices Per Square Metre in HCMC

In [ ]:
df1['price per m2'] = round(df1['price']/df1['area_m2'])
df1.sample(10)

In [ ]:
df1['price'].describe()

In [ ]:
sns.boxplot(x=df1["price"])

shit

In [ ]:
sns.distplot(df1['price'])

In [ ]:
print("Skewness: %f" % df1['price'].skew())
print("Kurtosis: %f" % df1['price'].kurt())

In [ ]:
 for k, v in df1.items():
        q1 = v.quantile(0.25)
        q3 = v.quantile(0.75)
        irq = q3 - q1
        v_col = v[(v <= q1 - 1.5 * irq) | (v >= q3 + 1.5 * irq)]
        perc = np.shape(v_col)[0] * 100.0 / np.shape(data)[0]
        print("Column %s outliers = %.2f%%" % (k, perc))