# simple recommender ( IMDb Top 250 formula)

In [144]:
#current directory 
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['tmdb_5000_credits.csv', 'tmdb_5000_movies.csv']

In [145]:
# Load Movies Metadata

movies = pd.read_csv('../input/tmdb_5000_movies.csv', low_memory=False)
credit = pd.read_csv('../input/tmdb_5000_credits.csv', low_memory=False)

In [146]:
# Print the first three rows : movies 
movies.head(3)

      budget    ...     vote_count
0  237000000    ...          11800
1  300000000    ...           4500
2  245000000    ...           4466

[3 rows x 20 columns]

In [147]:
# Print the first three rows : credits
credit.head(3)

   movie_id                        ...                                                                       crew
0     19995                        ...                          [{"credit_id": "52fe48009251416c750aca23", "de...
1       285                        ...                          [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647                        ...                          [{"credit_id": "54805967c3a36829b5002c41", "de...

[3 rows x 4 columns]

In [148]:
# Simple Recommender : IMDb Top 250    

# As a first step, let's calculate the value of C, the mean rating across all movies:

# Calculate C

C =  movies['vote_average'].mean()
print(C)

6.092171559442011

In [149]:
#The average rating of a movie on IMDB is around 6.09, on a scale of 10.
#Next, let's calculate the number of votes, m, received by a movie in the 90th percentile. 
#The pandas library makes this task extremely trivial using the .quantile() method of a pandas Series:


# Calculate the minimum number of votes required to be in the chart, m
m = movies['vote_count'].quantile(0.90)
print(m)

#the minimum number of votes required to be in the in the chart is equal to 1838.

1838.4000000000015

In [150]:
# Filter out all qualified movies into a new DataFrame  q_movies
q_movies = movies.copy().loc[movies['vote_count'] >= m]
q_movies.shape


#There are 481 movies qualified, i.e that have a vote count > 1838  ( 90% percentile)

(481, 20)

In [151]:
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [152]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

In [153]:
#Print the top 10 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                                              title    ...        score
1881                       The Shawshank Redemption    ...     8.059258
662                                      Fight Club    ...     7.939256
65                                  The Dark Knight    ...     7.920020
3232                                   Pulp Fiction    ...     7.904645
96                                        Inception    ...     7.863239
3337                                  The Godfather    ...     7.851236
95                                     Interstellar    ...     7.809479
809                                    Forrest Gump    ...     7.803188
329   The Lord of the Rings: The Return of the King    ...     7.727243
1990                        The Empire Strikes Back    ...     7.697884

[10 rows x 4 columns]

In [154]:

#We have to say that this recommender reflect more the popularity audience, 
#since it does not go deep with a better understanding of our attributes such as  overview, 
#keywords, genres , cast or crew.

# Plot description based recommender (movie overview)

In [155]:

#In this section, we  build a system that recommends movies that are similar 
#to a particular movie. More specifically, we will compute pairwise similarity 
#scores for all movies based on their plot descriptions ( overview) and 
#recommend movies based on that similarity score.


#Print plot overviews of the first 5 movies.
movies['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bondâ€™s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [156]:
'''
In its current form, it is not possible to compute the similarity between any two overviews. To do this, you need to compute the word vectors of each overview or document, as it will be called from now on.

we compute Term Frequency-Inverse Document Frequency (TF-IDF) vectors for each document. This will give you a matrix where each column represents a word in the overview vocabulary (all the words that appear in at least one document) and each column represents a movie, as before.

In its essence, the TF-IDF score is the frequency of a word occurring in a document, down-weighted by the number of documents in which it occurs. 
This is done to reduce the importance of words that occur frequently in plot overviews and therefore, their significance in computing the final similarity score.

scikit-learn gives us a built-in TfIdfVectorizer class that produces the TF-IDF matrix .
'''

#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')


#Replace NaN with an empty string
movies['overview'] = movies['overview'].fillna('')

In [157]:
#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies['overview'])


#Output the shape of tfidf_matrix
tfidf_matrix.shape


#tfidf_matrix.todense()

# we see that over 20978 different words were used to describe the 4803 movies in our dataset.

(4803, 20978)

In [158]:
#Since we have used the TF-IDF vectorizer, 
#calculating the dot product will directly give you the cosine similarity score. 
#we use sklearn's linear_kernel() instead of cosine_similarities() since it is faster.


# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [159]:
# recommender model creation  

'''
we are going to define a function that takes in a movie title as an input and outputs 
a list of the 10 most similar movies. Firstly, we need a reverse mapping of movie titles 
and DataFrame indices. In other words, we need a mechanism to identify the index of a movie in the
movie DataFrame, given its title.
'''

#Construct a reverse map of indices and movie titles
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()
indices

title
Avatar                                            0
Pirates of the Caribbean: At World's End          1
Spectre                                           2
The Dark Knight Rises                             3
John Carter                                       4
Spider-Man 3                                      5
Tangled                                           6
Avengers: Age of Ultron                           7
Harry Potter and the Half-Blood Prince            8
Batman v Superman: Dawn of Justice                9
Superman Returns                                 10
Quantum of Solace                                11
Pirates of the Caribbean: Dead Man's Chest       12
The Lone Ranger                                  13
Man of Steel                                     14
The Chronicles of Narnia: Prince Caspian         15
The Avengers                                     16
Pirates of the Caribbean: On Stranger Tides      17
Men in Black 3                                   18
The Hobbit: The Battle of the Five Armies        19
The Amazing Spider-Man                           20
Robin Hood                                       21
The Hobbit: The Desolation of Smaug              22
The Golden Compass                               23
King Kong                                        24
Titanic                                          25
Captain America: Civil War                       26
Battleship                                       27
Jurassic World                                   28
Skyfall                                          29
                                               ...
Clerks                                         4773
Pink Narcissus                                 4774
Funny Ha Ha                                    4775
In the Company of Men                          4776
Manito                                         4777
Rampage                                        4778
Slacker                                        4779
Dutch Kills                                    4780
Dry Spell                                      4781
Flywheel                                       4782
Backmask                                       4783
The Puffy Chair                                4784
Stories of Our Lives                           4785
Breaking Upwards                               4786
All Superheroes Must Die                       4787
Pink Flamingos                                 4788
Clean                                          4789
The Circle                                     4790
Tin Can Man                                    4791
Cure                                           4792
On The Downlow                                 4793
Sanctuary: Quite a Conundrum                   4794
Bang                                           4795
Primer                                         4796
Cavite                                         4797
El Mariachi                                    4798
Newlyweds                                      4799
Signed, Sealed, Delivered                      4800
Shanghai Calling                               4801
My Date with Drew                              4802
Length: 4803, dtype: int64

In [160]:
# Function that takes in movie title as input and outputs most similar movies
# The steps are explained in Team38.pdf3

def get_recommendations(title, cosine_sim=cosine_sim):
    
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]


    # Return the top 10 most similar movies
    return movies['title'].iloc[movie_indices]

In [161]:
get_recommendations('Pulp Fiction')

3526            The Sting
3194       All or Nothing
3466        Sliding Doors
4624            Locker 13
2917          The Fighter
4036            Antibirth
3491         The Wackness
2849             Nebraska
3504                11:14
3346    Jumping the Broom
Name: title, dtype: object

In [162]:
get_recommendations('Titanic')

1269                                  Raise the Titanic
2143                                         Ghost Ship
2287                         I Can Do Bad All By Myself
770                                       Event Horizon
4287                                            Niagara
3212                                           The Rose
2902                                           Triangle
4228                        The Ballad of Jack and Rose
171     Master and Commander: The Far Side of the World
104                                            Poseidon
Name: title, dtype: object

In [163]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title, dtype: object

In [164]:
#we observe that the system has done a decent job of finding movies
#with similar plot descriptions, however the quality of the recommendations
#can be ameliorate.

#For example ,"The Dark Knight Rises" returns all Batman movies while it's more
#likely that the people who liked that movie are more inclined to enjoy other Christopher Nolan
#movies. This is something that cannot be captured by the present recommender. Thats why we are going
#to investigate  other metadata such as keywords, genres and credits  to build an improved recommender system.

# genres, keywords, credits (cast & crew) recommender

In [165]:

#It goes without saying that the quality of your recommender would be increased with the usage of better metadata. 
#That is exactly what you are going to do in this section. 
#You are going to build a recommender based on the following metadata: 
#the 3 top actors, the director, related genres and the movie plot keywords.

In [166]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [167]:
# Convert IDs to int. Required for merging

credit.rename(columns={'movie_id': 'id'}, inplace=True)

credit['id'] = credit['id'].astype('int')
movies['id'] = movies['id'].astype('int')

In [168]:
# Merge credits into your main movie dataframe

movies_full = movies.merge(credit, on=['id' , 'title'])

movies_full.info()
movies_full.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4803 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

             budget             id      ...       vote_average    vote_count
count  4.803000e+03    4803.000000      ...        4803.000000   4803.000000
mean   2.904504e+07   57165.484281      ...           6.092172    690.217989
std    4.072239e+07   88694.614033      ...           1.194612   1234.585891
min    0.000000e+00       5.000000      ...           0.000000      0.000000
25%    7.900000e+05    9014.500000      ...           5.600000     54.000000
50%    1.500000e+07   14629.000000      ...           6.200000    235.000000
75%    4.000000e+07   58610.500000      ...           6.800000    737.000000
max    3.800000e+08  459488.000000      ...          10.000000  13752.000000

[8 rows x 7 columns]

In [169]:
#From the new features, cast, crew and keywords, we need to extract the three most 
#important actors, the director and the keywords associated with that movie.
#Right now, our data is present in the form of "stringified" lists. 
#we need to convert them into a form that is usable .

# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    movies_full[feature] = movies_full[feature].apply(literal_eval)

In [170]:
#Next, we write functions that will help us to extract the required information 
#from each feature. First, we'll import the NumPy package to get access to its NaN constant.
#Next, we can use it to write the get_director() function:


# Import Numpy 
import numpy as np

# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [171]:
# Returns the list top 3 elements or entire list; whichever is more.
    
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [172]:
# Define new director, cast, genres and keywords features that are in a suitable form.
movies_full['director'] = movies_full['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    movies_full[feature] = movies_full[feature].apply(get_list)

In [173]:
# Print the new features of the first 3 films

movies_full[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

                                      title              ...                                     genres
0                                    Avatar              ...               [Action, Adventure, Fantasy]
1  Pirates of the Caribbean: At World's End              ...               [Adventure, Fantasy, Action]
2                                   Spectre              ...                 [Action, Adventure, Crime]

[3 rows x 5 columns]

In [174]:
'''
The next step would be to convert the names and keyword instances into lowercase and strip all the spaces between them. 
This is done so that your vectorizer doesn't count the Johnny of "Johnny Depp" and "Johnny Galecki" as the same.
After this processing step, the aforementioned actors will be represented as "johnnydepp" and "johnnygalecki" and 
will be distinct to your vectorizer.
'''


# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [175]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    movies_full[feature] = movies_full[feature].apply(clean_data)

In [176]:
#We are now in a position to create your "metadata soup", which is a string that 
#contains all the metadata that you want to feed to your vectorizer (namely actors, director and keywords).    

movies_full.head(10)

def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [177]:
# Create a new soup feature
movies_full['soup'] = movies_full.apply(create_soup, axis=1)    

movies_full[['title','director', 'soup']].head(3)

                                      title                        ...                                                                       soup
0                                    Avatar                        ...                          cultureclash future spacewar samworthington zo...
1  Pirates of the Caribbean: At World's End                        ...                          ocean drugabuse exoticisland johnnydepp orland...
2                                   Spectre                        ...                          spy basedonnovel secretagent danielcraig chris...

[3 rows x 3 columns]

In [178]:
'''
The next steps are the same as what we did with our plot description based recommender. 
One important difference is that you use the CountVectorizer() instead of TF-IDF. 
This is because you do not want to down-weight the presence of an actor/director 
if he or she has acted or directed in relatively more movies. 
It doesn't make much intuitive sense.
'''


# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(movies_full['soup'])


# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
cosine_sim2

array([[1. , 0.3, 0.2, ..., 0. , 0. , 0. ],
       [0.3, 1. , 0.2, ..., 0. , 0. , 0. ],
       [0.2, 0.2, 1. , ..., 0. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 1. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 1. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 1. ]])

In [179]:
# Reset index of your main DataFrame and construct reverse mapping as before
movies_full = movies_full.reset_index() 
indices = pd.Series(movies_full.index, index=movies_full['title'])


movies_full[['title','genres']].head(5)

                                      title                               genres
0                                    Avatar         [action, adventure, fantasy]
1  Pirates of the Caribbean: At World's End         [adventure, fantasy, action]
2                                   Spectre           [action, adventure, crime]
3                     The Dark Knight Rises               [action, crime, drama]
4                               John Carter  [action, adventure, sciencefiction]

In [180]:
get_recommendations('Titanic', cosine_sim2)

1081             Revolutionary Road
4247          Me You and Five Bucks
49                 The Great Gatsby
872              All the King's Men
1311                     Angel Eyes
1492                     The Reader
2449          Sense and Sensibility
2661                 Romeo + Juliet
2701                Little Children
2946    What's Eating Gilbert Grape
Name: title, dtype: object

In [181]:
#We can now reuse your get_recommendations() function by passing in the new cosine_sim2 matrix as your second argument.

get_recommendations('The Dark Knight Rises', cosine_sim2)

65               The Dark Knight
119                Batman Begins
4638    Amidst the Devil's Wings
1196                The Prestige
3073           Romeo Is Bleeding
3326              Black November
1503                      Takers
1986                      Faster
303                     Catwoman
747               Gangster Squad
Name: title, dtype: object

In [182]:

#we observe that our recommender has been successful in capturing more information due to more metadata and has given us (arguably) better recommendations.
#for example, the recommender for the Dark knight rises doesn't output all the Batman movies anymore. 
#The recommendations seem to have recognized other Christopher Nolan movies (due to the high weightage given to director) and put them as top recommendations. 


#One thing that we notice about our recommendation system is that it recommends movies regardless of ratings and popularity.
#It is true that Catwoman has a lot of similar characters as compared to The Batman begins but it was a terrible movie that shouldn't be recommended to anyone.
#Many critics consider it to be one of the worst films of all time.(https://en.wikipedia.org/wiki/Catwoman_(film)#cite_note-4)

#Therefore, we will add a mechanism to remove bad movies and return movies which are popular and have had a good critical response.

#I will take the top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie. 
#Then, using this as the value of $m$, we will calculate the weighted rating of each movie using IMDB's formula like we did in the Simple Recommender section.

In [183]:
movies_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 25 columns):
index                   4803 non-null int64
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4803 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
cast                    4803 non-null object
crew                    4803 non-null object
director                4803 non-null object
soup                    4803 non-null object
dtypes: float64(3), int64(5), object(17)
memory usage: 938.2+ KB

In [184]:
pd.options.mode.chained_assignment = None

def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim2[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movie = movies_full.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'release_date']]
    vote_counts = movie[movie['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movie[movie['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movie[(movie['vote_count'] >= m) & (movie['vote_count'].notnull()) & (movie['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [185]:
improved_recommendations('Titanic')

                                      title    ...           wr
439                          Shutter Island    ...     6.795832
351                            The Departed    ...     6.729829
49                         The Great Gatsby    ...     6.702366
2152  Eternal Sunshine of the Spotless Mind    ...     6.696024
818                        Captain Phillips    ...     6.611184
297                           Blood Diamond    ...     6.594856
2946            What's Eating Gilbert Grape    ...     6.394737
961                               The Beach    ...     6.055170
720                               Contagion    ...     6.053565
2661                         Romeo + Juliet    ...     6.052748

[10 rows x 5 columns]

In [186]:
improved_recommendations('The Dark Knight Rises')

                                      title    ...           wr
65                          The Dark Knight    ...     7.746586
1196                           The Prestige    ...     7.436968
119                           Batman Begins    ...     6.818541
510                         Children of Men    ...     6.573093
280                          Public Enemies    ...     6.053245
405   The Fast and the Furious: Tokyo Drift    ...     6.047821
747                          Gangster Squad    ...     6.046855
299                          Batman Forever    ...     5.601801
157                  Exodus: Gods and Kings    ...     5.534087
72                            Suicide Squad    ...     5.215981

[10 rows x 5 columns]

In [187]:

#Now we can see that the recommendations seem to have recognized not only other Christopher Nolan movies , not only fill with 
#the 3 top actors, the director, related genres and the movie plot keywords characteristics,  but also the popularity of the movie.

#you can find these ideas implemented in the following github repo : https://github.com/rounakbanik/movies/blob/master/movies_recommender.ipynb