# Data Science Çalışma Notları 
**[Kaan Can Yılmaz](https://www.kaggle.com/kanncaa1)**'ın hazırlamış olduğu  [Data Science Sıfırdan Uzmanlğa Veri Bilimi](https://www.udemy.com/data-science-sfrdan-uzmanlga-veri-bilimi-2/learn/v4/overview) kursuna devam ederken kurstaki ***Cleaning Data***, ***Pandas Foundation***  ve ***Manipulating Data Frames with Pandas*** konularındaki  ödevlerimi yapmış olduğum çalışma notlarım.


**Dataset Hakkında**

Zomato Restaurants Data; Büyük şehirlerin en iyi restoranlarını analiz etmek için oluşturulmuş bir datasettir.

İçerisindekiler;

* Restaurant ID Country Code :
* Restaurant Name : Restoranın Adı
* Country Code : Ülke kodu
* City : Restoranın bulunduğu şehir
* Address :Restoranın Adresi
* Locality : Restoranın Shot Adresi
* Locality Verbose : Restoranın Uzun Adresi
* Longitude : Boylam
* Latitude : Enlem 
* Cuisines : Sunulan Mutfak Türleri
* Average Cost for two : İki kişi Restoran'ı ziyaret ederse ortalama maliyet
* Currency : Restoranda ödenen para birimi cinsi
* Has Table booking : Restoranlarda Masa rezervasyonu var mı? Evet/Hayır
* Has Online delivery : Online teslimatımız var mı? Evet/Hayır
* Is delivering now : Restoran şimdi yemek veriyor mu? Evet/Hayır
* Switch to order menu : Sipariş menüsü var mı?  Evet/Hayır
* Price range : 1 - 4 arası kategorize fiyat
* Aggregate rating :  1 - 5 arasında derecelendirme
* Rating color : Derecelendirme rengi
* Rating text : Derecelendirme metni (Mükemmel, Çok İyi, İyi, Ortalama, Zayıf  gibi farklı Puanlama)
* Votes : Müşterilerden restoran tarafından alınan toplam oylar.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

**Öncelikle csv dosyamızı okuyoruz.**

In [ ]:
# csv dosyamızı okuyoruz.
data = pd.read_csv("../input/zomato.csv", encoding ='iso-8859-9')

**Datasetimiz  içerisinde kaç satır, kaç sütun olduğuna bakıyoruz.**

Datasetimiz 9551 satır ve 21 sütundan oluşuyor.

In [ ]:
# kaç satır, kaç sütun 
data.shape

**Datasetimizim içerisindeki sütun isimlerine bakalım.**

Datasetimizdeki sütun isimlerine baktığımızda büyük - küçük harf uyumuna dikkat etmediklerini ve kelimeler arasında boşluk bıraktıklarını görüyoruz.

In [ ]:
# Sütun isimleri
data.columns

**Aşağıda datasetimiz içerisindeki ilk beş veriyi listeliyoruz**

In [ ]:
# datanın ilk 5 satırı
data.head()

**Aşağıda datasetimiz içerisindeki son beş veriyi listeliyoruz**

In [ ]:
# data nın son 5 satırı
data.tail()

**Datasetimiz hakkında genel bir bilgi edinmemiz gerek.**

Aşağıda datasetimizin kaç satır ve sütundan oluştuğu, içerisindeği feature' ların tipleri ve kaç tane değer bulunduğunu görüyoruz. 'Cuisines'  sütununda  eksik değerler var gibi duruyor.

In [ ]:
# data hakkında genel bilgiler 
data.info()

**Feture'lardaki eksik değerleri kontrol ediyoruz.**

Yukarıda  'Cuisines'  sütununda  eksik değerler var diye düşünmüştük, aşağıda da genel olarak  hangi sütunlarda eksik değer var göreceğiz.

Tahmin ettiğimiz gibi  'Cuisines'  sütununda  eksik değerler var.

In [ ]:
# data da boş alan var mı?
data.isnull().sum()

**Dataset içerisindeki feature'larda eşsiz olan kelimeleri görmek istiyoruz.**

Aşağıda dataset içerisinde;
* kaç faklı ülke kodu olduğu ve ülke kodları
* kaç faklı şehir olduğu ve bunların isimleri
* kaç farklı mutfak türü olduğu ve bunaların isimleri
* kaç farklı para birimi olduğu ve bunların isimleri
* kaç farklı derecelendirme rengi olduğu ve bunların isimleri
* kaç farklı derecelendirme metni olduğu ve bu metinleri 

görüyoruz.

In [ ]:
print("Dataset içerisindeki bulunan ülke kodları:\n".upper())
print(len(data['Country Code'].unique()), "farklı değer var")
print(data['Country Code'].unique())
print("\nDataset içerisindeki bulunan şehirler:\n".upper())
print(len(data['City'].unique()), "farklı değer var")
print(data['City'].unique())
print("\nDataset içerisindeki bulunan Mutfak Türleri:\n".upper())
print(len(data['Cuisines'].unique()), "farklı değer var")
print(data['Cuisines'].unique())
print("\nDataset içerisindeki bulunan Restoranda ödenen para birimleri:\n".upper())
print(len(data['Currency'].unique()), "farklı değer var")
print(data['Currency'].unique())
print("\nDataset içerisindeki bulunan Derecelendirme renkleri:\n".upper())
print(len(data['Rating color'].unique()), "farklı değer var")
print(data['Rating color'].unique())
print("\nDataset içerisindeki bulunan Derecelendirme metni:\n".upper())
print(len(data['Rating text'].unique()), "farklı değer var")
print(data['Rating text'].unique())

**Feature'ları  veri sayılarına göre grupluyoruz**

Datasetimiz en çok hangi şehirden restoran içeriyor ya da hangi şehirde ne kadar restoran var bakmak için grupluyoruz.

Sonuçlara baktığımızda en yüksek restoran sayısının New Delhi, Gurgaon, Noida ve Faridabad şehirlerinde olduğunu görüyoruz.

In [ ]:
data['City'].value_counts(dropna = False)

**Datasetimizdeki int tipindeki değerler hakkında bilgi edinelim.**

Aşağıda genel olarak int tipindeki tüm feature'ların
* ne kadar veri içerdiğini
* ortalama olarak ne olduklarını
*maksimum - minimum değerlerini
*  median, upper ve  lower quantile değerlerini

görüyoruz.

In [ ]:
data.describe()

**Visual Exploratory Data Analaysis**

Aşağıda restoranların derecelendirmelerini incelemek için box plot ile görselleştirdik.

Genel olarak derecelendirmelerinin medianı : 3.2, upper quantile : 3.7, lower quantile : 2.5 gibi ve outliers yanı ayrık değer olarak 0 'ı görüyoruz.

In [ ]:
data.boxplot(column = 'Aggregate rating')

**Fidy and Pivoting Data**

Datasetimiz içerisindeki ilk beş elemanının ['Aggregate rating','Rating color','Rating text'] feature'larını öğrenmek için melt() methodu ile farklı bir yapıya dönüştürdük.

In [ ]:
data_new = data.head()
melted = pd.melt(frame = data_new, id_vars = 'Restaurant Name', value_vars = ['Aggregate rating','Rating color','Rating text'])
melted

melt() methodu ile farklı bir yapıya dönüştürdüğümüz feature'larımızı pivot() methodu ile eski haline çevirdik.

In [ ]:
melted.pivot(index = 'Restaurant Name', columns = 'variable', values = 'value')

**Concatenating Data**

Aşağıda datamızın ilk ve son 5 öğesini concat() methodu ile birleştirdik.

In [ ]:
data1 = data.head()
data2 = data.tail()
conc_data_row = pd.concat([data1, data2], axis = 0, ignore_index = True)
conc_data_row

Aşağıda datamızın ['Restaurant Name'] ve ['Votes'] feature'larının  5 öğesini concat() methodu ile birleştirdik.

In [ ]:
data1 = data['Restaurant Name'].head()
data2 = data['Votes'].head()
conc_data_col = pd.concat([data1, data2], axis =1)
conc_data_col

**Assert Methodu ile missing dataları kontrol ediyoruz.**

Aşağıda ['Cuisines'] sütunundaki boş alanları kontrol ediyoruz  ve hata alırsak  boş alanlarımız var demektir.

Hata aldığımıza göre boş alanlar var demektir :)

In [ ]:
assert data['Cuisines'].notnull().all()

Missing dataları dataframe'imizden çıkartabilir ya da boş alanlara 'empty' gibi değerler yazırabiliriz.

Bizde aşağıdaki kod blogunda mutfak tipi boş olan alanlara 'Unknown' yazdıracağız ve tekrar boş alan olup olmadığını kontrol edeceğiz.

Hata almadığımıza göre boş alanlar 'Unknown' olarak doldurulmuş.

In [ ]:
# data['Cuisines'].dropna(inplace = True) # missing dataları silmek için 
data['Cuisines'].fillna('Unknown', inplace = True)
assert data['Cuisines'].notnull().all()

Şimdide Mutfak tipine 'Unknown' yazdığımız verileri görelim :)

In [ ]:
print("Mutfak tipi bilinmeyen veriler".upper())
print("Sayısı: ", len(data[data['Cuisines'] == 'Unknown']))
data[data['Cuisines'] == 'Unknown']

**Building Data Frames From Scratch**

Aşağıda datamızdaki name ve addres sütunlarında ki ilk beş öğeyi liste haline getirdik, daha sonra zip() methodu ile birleştirip dictionary haline getirdik, en son olarakta DataFrame' e dönüştürdük.

In [ ]:
name = list(data['Restaurant Name'].head()) # Restoran isimlerının ilk 5 öğesin alıp listeye dönüştürdük
address = list(data['Address'].head()) # Restoran adreslerinin ilk 5 öğesin alıp listeye dönüştürdük
list_label = ['name','address'] # sütun isimlerimiz
list_col = [name, address] # içerisine alacağımız değerler 
zipped = list(zip(list_label, list_col)) # sütun isimleri ve değerleri birleştirdik
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

**Broadcasting**

Aşağıda tüm restoralarımızın çalışan sayısını 5 olarak kabul edip yeni bir feature  ekledik.

In [ ]:
df['number_of_employees']= 5
df

In [ ]:
average_cost_for_two = list(data['Average Cost for two'].head())
votes = list(data['Votes'].head())
df['average_cost_for_two'] = average_cost_for_two
df['votes'] = votes
df

**Visual Exploratory Data Analaysis**

ilk olarak plot ile genel bir görselleştirme yapalım.

In [ ]:
data.plot()
plt.show()

Subplot ile ayrı iki grafik olarak bakalım.

In [ ]:
data.plot(subplots = True)
plt.show()

Histogram ile verilen toplam oyların frenkansına bakalım.

In [ ]:
data.plot(kind = "hist", y = 'Votes',bins = 20, range = (200,600), normed = True)
plt.show()

 Histogram ile cumulative olmayan ve cumulative olan görselleştirme.

In [ ]:
# histogram ile cumulative olmayan ve cumulative olan 
fix, axes = plt.subplots(nrows = 2, ncols = 1)
data.plot(kind = 'hist', y = 'Votes',bins = 50, range = (200,600), normed = True , ax = axes[0])
data.plot(kind = 'hist', y = 'Votes',bins = 50, range = (200,600), normed = True , ax = axes[1], cumulative = True)
plt.savefig('graph.png')
plt.show()

**Indexing Pandas Time Series**

Sonradan oluşturduğumuz data frame'imize (df) restoran kuruluş yıllarını ekleyelim.

In [ ]:
year_of_establishment_list = ["1998-03-10", "1999-03-05", "1999-04-21", "1998-11-30", "1999-04-01"]
datetime_object = pd.to_datetime(year_of_establishment_list) # datetime yaptık.
print(type(datetime_object))
df['year_of_establishment_list'] = datetime_object
df

Data frame imizi time series yapalım.

In [ ]:
df = df.set_index("year_of_establishment_list")
df

**Resampling Pandas Time Series**

Aşağıdaki kod blogu dataframemizdeki tüm değerleri yıllara göre gruplayıp ortalamasını alır.

In [ ]:
df.resample("A").mean()

Aşağıdaki kod blogu Dataframemizdeki tüm değerleri aylara göre gruplayıp ortalamasını alır.

In [ ]:
df.resample("M").mean()

Olmayan ayları linear şekilde doldurur.

In [ ]:
df.resample("M").first().interpolate("linear")

Olmayan ayları linear şekilde ortalama doldurur.

In [ ]:
df.resample("M").mean().interpolate("linear")

**Indexing Data Frames**

Aşağıda data frame'imizde index adlı feture'u ekliyoruz ve onu df'imizim indexi yapıyoruz.

In [ ]:
df['index']=[1,2,3,4,5]
df = df.set_index("index")
df

Aşağıdaki kodda 1-3 index ve "name" -"number_of_employees" feature ları arasıdaki değerleri yazdırıyoruz.

In [ ]:
df.loc[1:3,"name":"number_of_employees"]

Aşağıdaki kodda 1-3 index ve "name" -"number_of_employees" feature ları arasıdaki değerleri ters çevirerek yazdırıyoruz.

In [ ]:
df.loc[3:1:-1,"name":"number_of_employees"]

Aşağıdaki kodda 1-3 index ve "number_of_employees" feature'ından sonraki tüm değerleri yazdırıyoruz.

In [ ]:
df.loc[1:3,"number_of_employees":]

**Filtering Data Frames**

Aşagıda alınan toplam oyu 300 den büyük olan değerleri yazdırıyoruz.

In [ ]:
boolean = df.votes > 300
df[boolean]

Şimdide birden fazla filtre kullanarak yazdırmaya çalışalım.

In [ ]:
filtre1 = df.votes < 400
filtre2 = df.average_cost_for_two > 1200
df[filtre1 & filtre2]

Aşağıda alınan toplam oyu 350den büyük olanların iki  kişilik yemek fiyatını listeledik.

In [ ]:
df.average_cost_for_two[df.votes >350]

**Transforming Data**

Aşağıda tüm çalışan sayılarını 2 daha arttıracağız

In [ ]:
def div(f):
    return f+2
df.number_of_employees.apply(div)

Aynı işlemi lambda fonksiyon ile de yapalım .

In [ ]:
df.number_of_employees.apply(lambda x : x+2)

Diğer sütunları kullanarak yeni bir sütun ekleyelim.

In [ ]:
df['new'] = df.average_cost_for_two / df.number_of_employees
df