### Importing required libraries

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../input/zomato-bangalore-restaurants/zomato.csv')

In [ ]:
df.head()

In [ ]:
## data frame columns
df.columns

In [ ]:
## Data types of the data frame
df.dtypes

In [ ]:
## Shape of data frame
df.shape

### Data preprocessing

In [ ]:
## Checking the null values
df.isnull().sum()

In [ ]:
## collecting the null values from the data frame
feature_na = [feature for feature in df.columns if df[feature].isnull().sum() > 0] 
feature_na

In [ ]:
## checking the % missing values in the null features
for feature in feature_na:
    print(' {} has {} missing values'.format(feature,np.round((df[feature].isnull().sum()/len(df))*100, 3)))

In [ ]:
## Dealing with null values 
#  in rate column
df['rate'].unique()

In [ ]:
## the rate is kind of messy as we can see
## it simply means 4 out of 5 i.e, 4/5
## removing the na and null values
df.dropna(axis = 'index', subset = ['rate'], inplace = True)
df.shape

In [ ]:
#  we need to split the values
#  defining the funtion to split the ratings
def split(x):
    return x.split('/')[0]

In [ ]:
df['rate'] = df['rate'].apply(split)

In [ ]:
## Checking the data frame changes
df.head()

In [ ]:
## Checking the unique values
df['rate'].unique()

In [ ]:
## Replacing NEW with 0
df.replace('NEW',0,inplace = True)

In [ ]:
## Replacing - with 0
df.replace('-',0,inplace = True)

In [ ]:
## Checking the data type of Rate column
df['rate'].dtype

In [ ]:
## Changing Rate to float
df['rate'] = df['rate'].astype(float)
df['rate'].dtype

### Indepth ananlysis of Restaunts

In [ ]:
## Grouping by on basis of ratings
df_rate = df.groupby('name')['rate'].mean().to_frame().reset_index()
df_rate.columns = ['restaurant', 'avg_rating']
df_rate.head(20)

In [ ]:
## Checking the distribution of rating column 
sns.distplot(df_rate['avg_rating']) 
# getting the peak at 0 because we imputed 0 on NA value

In [ ]:
## Top Restaurant in Bangalore
chains = df['name'].value_counts()[0:20]
sns.barplot(x = chains, y = chains.index)
plt.title('Most Famous Restaurants chains in Bangalore')
plt.xlabel('Number of Outlets')

In [ ]:
## How many Restaurants do not accept online orders
#  Checking the Restaurants that accepts online order
online_order_count = df['online_order'].value_counts()
online_order_count

In [ ]:
online_order_labels = ['accepted', 'Not accepted']

In [ ]:
 import plotly.express as px

In [ ]:
px.pie(df, values = online_order_count , labels = online_order_labels, title = 'Pie Chart')

In [ ]:
## Restaurants that provide table and that does not provide table
#  Book table is the parameter that provide us the info
book_table_count = df['book_table'].value_counts()
book_table_count

In [ ]:
book_table_label = ['Available','Not available']

In [ ]:
px.pie(df, values = book_table_count , labels = book_table_label, title = 'Pie Chart')

In [ ]:
import plotly.graph_objs as go
from plotly.offline import iplot

In [ ]:
trace = go.Pie(labels = book_table_label, values = book_table_count, hoverinfo = 'label+percent', textinfo = 'value')
iplot([trace])

In [ ]:
## Types of Restraunts 
#  It is in the rest_type 
#  But first checking the null values

df['rest_type'].isna().sum()

#  151 null values we need to deal with it

In [ ]:
column_names = ['rest_type']
df2 = pd.DataFrame(columns = column_names)

In [ ]:
df2['rest_type'] = df['rest_type']

In [ ]:
## Dropping the null values
df2.dropna(inplace=True)

In [ ]:
df2['rest_type'].isna().sum()

In [ ]:
trace1 = go.Bar(x = df2['rest_type'].value_counts().nlargest(20).index,
                y = df2['rest_type'].value_counts().nlargest(20).index
               )

In [ ]:
iplot([trace1])

#### Highest rated Restraunts

In [ ]:
df.groupby('name')['votes'].sum().nlargest(20).plot.bar()

In [ ]:
## Interactive bar garph
trace2 = go.Bar(x = df.groupby('name')['votes'].sum().nlargest(20).index,
               y = df.groupby('name')['votes'].sum().nlargest(20))
iplot([trace2])

### Total Restaurant at Different location of Banglore

In [ ]:
restaurant = []
location   = []
for key,location_df in df.groupby('location'):
    location.append(key)
    restaurant.append(len(location_df['name'].unique()))

In [ ]:
df_total = pd.DataFrame(zip(location,restaurant))
df_total.columns = ['location','restaurant']
df_total.head()

In [ ]:
df_total.sort_values(by = 'restaurant').tail(10).plot.bar()

In [ ]:
## Interactive bar plot
## Interactive bar garph
trace3 = go.Bar(x = df_total['restaurant'].value_counts().nlargest(10).index,
                y = df_total['restaurant'].value_counts().nlargest(10)
               )
iplot([trace3])

#### Total varity of Restaurant in Banglore

In [ ]:
## we have different types of cusines
cuisines = df['cuisines'].value_counts()[:10]
cuisines

In [ ]:
trace6 = go.Bar( x = df['cuisines'].value_counts()[:10].index,
                y = df['cuisines'].value_counts()[:10]
               )
iplot([trace6])

#### Approx cost of 2 people

In [ ]:
## Checking the columns in the dataframe

df.columns
## approx_cost(for two people) have cost of approx 2 people

In [ ]:
## Checking the null values
df['approx_cost(for two people)'].isna().sum()

In [ ]:
## Dropping the null values
df.dropna(axis = 'index', subset = ['approx_cost(for two people)'], inplace = True)

In [ ]:
## checking the null values
df['approx_cost(for two people)'].isna().sum()

In [ ]:
## Cheking the data type of the variable
df['approx_cost(for two people)'].dtype
#  it is string but it should be numeric

In [ ]:
## checking the unique values
df['approx_cost(for two people)'].unique()

#  as we can observe that we have , in between of the number
#  we need to remove it

In [ ]:
## Creating a lambda function to remove the ,
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].apply(lambda x: x.replace(',',''))

In [ ]:
## checking the unique values
df['approx_cost(for two people)'].unique()

In [ ]:
## changing the string to float
## checking the unique values
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].astype(int)

In [ ]:
## Checking the datatype
## checking the unique values
df['approx_cost(for two people)'].dtype

In [ ]:
## Plotting the distribution curve
sns.distplot(df['approx_cost(for two people)'])

# right scewed data which means the cost of 2 people lies between 0-1000
# which suggest restaurats in banglore is afforadable

#### Approx cost of 2 people vs rating

In [ ]:
sns.scatterplot(x = 'rate', y ='approx_cost(for two people)',hue = 'online_order',data =df )

#### Relation ship between votes of restaurants accepting and no accepting online order

In [ ]:
sns.boxplot(x = 'online_order', y = 'votes',data =df)

In [ ]:
## Plotly 
px.box(df,x = 'online_order', y = 'votes')

#  Online order restaurants have more number of votes

#### Difference b/w price of restaurants and accepting and non accepting online orders

In [ ]:
px.box(df,x = 'online_order', y = 'approx_cost(for two people)')

##### Most luxurious restaurants of Bangalore

In [ ]:
## Checking minimum cost of 2 people
df['approx_cost(for two people)'].min()

In [ ]:
## Checking maximum cost of 2 people
df['approx_cost(for two people)'].max()

#  It becomes the filter for checking the most luxurious restaurants

In [ ]:
df[df['approx_cost(for two people)']>= 5000]['name']

##### Top 10 most expensive restaurant with approx cost of 2 people

In [ ]:
## creating copy of original data
data_copy = df.copy()

In [ ]:
data_copy.set_index('name', inplace = True)

In [ ]:
data_copy.head()

In [ ]:
data_copy['approx_cost(for two people)'].nlargest(10).plot.bar()

In [ ]:
## 10 Cheap restaurants
data_copy['approx_cost(for two people)'].nsmallest(10).plot.bar()

In [ ]:
## Budget hotel i.e, restaurants below 500
df[df['approx_cost(for two people)']<= 500]['name']

#### Restaurants with rating greater than 4 and are afforadable

In [ ]:
df[(df['rate']>4) & (df['approx_cost(for two people)'] <= 500)].shape

In [ ]:
len(df[(df['rate']>4) & (df['approx_cost(for two people)'] <= 500)]['name'].unique())

In [ ]:
## Total various affordable hotel at all the location of Bangalore

In [ ]:
df_new = df[(df['rate']>4) & (df['approx_cost(for two people)'] <= 500)]

In [ ]:
df_new.head()

In [ ]:
location = []
total    = []

for loc,location_df in df_new.groupby('location'):
    location.append(loc)
    total.append(len(location_df['name'].unique()))

In [ ]:
location_df = pd.DataFrame(zip(location, total))
location_df.head()

In [ ]:
location_df.columns = ['location', 'restaurant']
location_df.head()

#### Finding best budget Restaurants in any location

In [ ]:
## defining a function
def return_budget(location, restaurant):
    budget = df[(df['approx_cost(for two people)']<= 400) & (df['location'] == location) & (df['rate']>4) & (df['rest_type'] == restaurant)]
    return (budget['name'].unique())

In [ ]:
## best restaurants in BTM
return_budget('BTM','Quick Bites')

In [ ]:
#### Which are the foodie areas
restaurant_location = df['location'].value_counts()[0:20]
sns.barplot(restaurant_location,restaurant_location.index)

## Geographical Analysis

#### Latitudes and Longitudes for each location in Banglore

In [ ]:
locations = pd.DataFrame({'Name':df['location'].unique()})
locations.head()

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim(user_agent = 'app')

In [ ]:
lat_lon = []
for location in locations['Name']:
    location = geolocator.geocode(location)
    if location is None:
        lat_lon.append(np.nan)
    else:
        geo = (location.latitude, location.longitude)
        lat_lon.append(geo)

In [ ]:
locations['geo_loc'] = lat_lon

In [ ]:
locations.head()

In [ ]:
locations.shape

In [ ]:
Rest_locations = pd.DataFrame(df['location'].value_counts().reset_index())
Rest_locations.head()

In [ ]:
Rest_locations.columns = ['Name','Count']
Rest_locations.head()

In [ ]:
## Combining both the data frames
Rest_locations = Rest_locations.merge(locations , on = 'Name', how = 'left').dropna()
Rest_locations.head()

In [ ]:
## Changing geo_loc to latitue and longatude
lat,lon = zip(*np.array(Rest_locations['geo_loc']))

In [ ]:
type(lat)

In [ ]:
Rest_locations['lat'] = lat
Rest_locations['lon'] = lon

In [ ]:
Rest_locations.head()

In [ ]:
Rest_locations.drop('geo_loc',axis = 1, inplace = True)

In [ ]:
Rest_locations.head()

In [ ]:
import folium
from folium.plugins import HeatMap

In [ ]:
def generatebasemap(default_location = [12.97,77.59], default_zoom_start = 12):
    basemap = folium.Map(location = default_location,zoom_start = default_zoom_start)
    return basemap

In [ ]:
basemap = generatebasemap()

In [ ]:
basemap

#### HeatMap of Restaurants

In [ ]:
HeatMap(Rest_locations[['lat','lon','Count']].values.tolist(),zoom = 20, radius = 15).add_to(basemap)

In [ ]:
basemap

#### Heat map of North Indian restaurants

In [ ]:
df.head()

In [ ]:
north_cuisines = df[df['cuisines'] == 'North Indian']
north_cuisines.head()

In [ ]:
north_india = north_cuisines.groupby(['location'],as_index = False)['url'].agg('count')

In [ ]:
north_india.head()

In [ ]:
north_india.columns = ['Name','count']

In [ ]:
north_india.head()

In [ ]:
## North indian
north_india = north_india.merge(locations,on='Name',how = 'left').dropna()
north_india.head()

In [ ]:
north_india['lat'],north_india['lon'] = zip(*north_india['geo_loc'].values)

In [ ]:
north_india.head()

In [ ]:
north_india.drop('geo_loc',axis = 1, inplace = True)

In [ ]:
north_india.head()

In [ ]:
basemap = generatebasemap()
HeatMap(north_india[['lat','lon','count']].values.tolist(),zoom = 20, radius = 15).add_to(basemap)
basemap

#### Most casual dining Restaurant chains

In [ ]:
df_casual = df.groupby(['rest_type','name']).agg('count')

In [ ]:
df_casual.sort_values(['url'],ascending = False).groupby(['rest_type'], as_index = False).apply(lambda x: x.sort_values(by = 'url',ascending = False))

In [ ]:
df_casual.sort_values(['url'],ascending = False).groupby(['rest_type'], as_index = False).apply(lambda x: x.sort_values(by = 'url',ascending = False))['url'].reset_index()

In [ ]:
df_casual_dataset = df_casual.sort_values(['url'],ascending = False).groupby(['rest_type'], as_index = False).apply(lambda x: x.sort_values(by = 'url',ascending = False))['url'].reset_index().rename(columns = {'url':'count'})

In [ ]:
df_casual_dataset

In [ ]:
casual_dining = df_casual_dataset[df_casual_dataset['rest_type'] == 'Casual Dining']

In [ ]:
casual_dining.head()