# Python 101
## 1. A Brief History of Python

Python is one of the most commonly used programming languages today and is an easy language for beginners to learn because of its readability.

It is a popular programming language for Machine Learning and deep learning applications.

Python was developed by Guido van Rossum. It was first released in 1991.

The latest version of Python is version 3, which is not backwards compatible with Python 2.

Rather than having all of its functionality built into its core, Python was designed to be highly extensible. This compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications.

In [ ]:
# Hint: this platform is called a jupyter notebook, which is a popular software used to prototype python code. 
# A jupyter notebook is organised into cells
# [Ctrl] + [Enter] to run cells containing python code

# Run your first python code with [Ctrl] + [Enter]
print('Hello World!')

## 2. Python Basics
### 2.1 Data Types

Before we can learn about how to write and execute Python code, it is important that we first learn about some of the most common data types that we will be working with.

Python comes with the following built-in data types:

![](https://i2.wp.com/ivyproschool.com/blog/wp-content/uploads/2015/08/blog-1.png?resize=972%2C450)




One easy way to identify the data type of an item is to use the in-built `type()` function.

1. Numerical Data Types:
    * Integers (int): Positive or negative whole numbers e.g. 5
    * Floats (float): Any real number with a decimal place e.g. 5.7

In [ ]:
type(5)

In [ ]:
type(5.7)

2. Booleans:
    * Booleans (bool) are built in True or False values. Take note that booleans are denoted with a capital 'T' and 'F'

In [ ]:
type(True)

In [ ]:
type(False)

3. Sequence Types:<br>
    * Sequence data types are an ordered collection of similar of different data types and the two most common types are
        * Strings (str): A collection of one or more chracters in single or double quotes. e.g.'a', 'abc'
        * Lists (list): A list is a collection of one or more data items which need not be of the same time, encapsulated in square brackets e.g. ['a', 1]

In [ ]:
type('abc')

In [ ]:
type(['a', 'b', 'c'])

4. Dictionaries:
    * Dictionaries (dict) are an unordered collection of data that always come in a key: value pair enclosed in curly brackets. e.g. {'Fruit':'Apple'}

In [ ]:
type({'1':'one', '2':'two'})

Trivia: Identify the data types of the following items (run the cells for the answer):

In [ ]:
type('1847.492')
# Is this a float?

In [ ]:
type({1:['OCBC','DBS', 'UOB']})
# Is this a string?

In [ ]:
type(false)
# Is this a boolean?

In [ ]:
# Hint: you can use the "help" function to understand other functions
help(type)

In [ ]:
# Hint: You can comment code using the "#" symbol. Any code behind the "#" symbol will not be recognised

# this is a comment
"""this is not a comment, this is a string""" # this is a comment

### 2.2 Basic Data Manipulation
#### 2.2.1 Assigning Variables
1. We can create variables and assign values and objects to them very easily by using the assignment operator, `=`. In Python, variables are **mutable**, meaning that they can be changed after you have created them.


Variables cannot be reserved words (eg. "sum", "print", "type") and cannot contain any spaces between characters.

In [ ]:
a = 5 # assign 5 to the variable "a"

In [ ]:
a # return the variable "a"

In [ ]:
# Question: what is the type of the variable "a"? (run to find out)
type(a)

In [ ]:
b = a # assign the variable "a" to the variable "b"
b

In [ ]:
# Hint: to delete a variable (which will clear your RAM), assign None to the variable
a = None
print(a)

#### 2.2.2 Operators

1. Mathematical Operators

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

In [ ]:
b + 1 # add 1 to the variable "b"

In [ ]:
b # b is still 5

In [ ]:
b = b + 1 # add 1 to the variable "b" AND make this the new "b"

In [ ]:
b # b is now 6

In [ ]:
# Hint: cells in the jupyter notebook returns only the last result. Use the print() function to see what is in-between
a = 1 # step 1
print(a) # print result after step 1
a = a + 1 # step 2
print(a) # print result after step 2
a = a * 2 # step 3
print(a) # print result after step 3
print('is the final result')

2. Logical/Comparison Operators

| Operator     | Description                            |
|--------------|----------------------------------------|
| ``a == b``   | ``a`` equal to ``b``                   |
| ``a != b``   | ``a`` not equal to ``b``               |
| ``a < b``    | ``a`` less than ``b``                  |
| ``a > b``    | ``a`` greater than ``b``               |
| ``a <= b``   | ``a`` less than or equal to ``b``      |
| ``a >= b``   | ``a`` greater than or equal to``b``    |

Note that in python, `=` is used as an assignment operator whereas ``==`` is used to check for equality and the two cannot be used interchangeably.

In [ ]:
# Is 2 greater than 1?
2 > 1

In [ ]:
# Is 1 greater than 2?
1 > 2

In [ ]:
# Hint: True is actually equal to 1, and False is equal to 0
1 == True

In [ ]:
# Quiz: what does this code do? (run to find out)
a = 1
a = (a == True)
a = a * 2
a = (a > 1)

print(a)

#### 2.2.3 Indexing
We've learnt previously that strings and lists are an ordered collection of data types. This means that we can access each individual list/string element by using square brackets and the corresponding index numbers of the element. 

Note that Python uses _**zero-based**_ indexing so the first element in a list always has index 0. Alternatively, we can also access elements from the end of the list using negative numbers startin from -1.

![](https://www.alphacodingskills.com/python/img/python-string.png)

In [ ]:
# assign a list of strings to the variable "planets"
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# the first planet in the list is:
planets[0]

In [ ]:
# the last planet in the list is:
planets[-1]

In [ ]:
# Quiz: what does this code do? (run to find out)
print('The planet closest to the sun is',planets[0])
print(planets[-4],'and',planets[-3], 'are also known as Gas Giants')

In [ ]:
# indexing can also be done on strings
earth = planets[2] # assign the second indexed element of the variable "planets" to the variable "earth"

In [ ]:
earth[1] # get the first indexed element of the variable "earth"

#### 2.2.4. Slicing

We can take what we have learnt about indexing one step further with slicing which allows us to build new strings or lists from existing ones.

When slicing, we can indicate a starting and ending index (though they are both optional). If the starting index is left blank, it is assumed to be 0. If the ending is left blank it is assumed to be the length of the list.

In [ ]:
# The first three planets are:
planets[0:3]

In [ ]:
planets[:3] # If we omit the starting index, it is assumed to be 0

In [ ]:
# The rest of the planets are:
planets[3:]

In [ ]:
# Quiz: what does this code do? (run to find out)
planets[-999999:]

#### 2.2.5 Modifying Lists

Because lists are mutable, they can be modified 'in place'. One way to do this would be to assign to an index or a slice.

In [ ]:
# Replace the third indexed (fourth) planet
planets[3] = 'SpaceX'
planets

In [ ]:
# Replace the first 3 planets
planets[:3] = ['M','V','E']
planets

In [ ]:
# Put them back
planets[:4] = ['Mercury','Venus','Earth','Mars']
planets

We can also modify lists by combining them or adding on new items, using the "+" operator

In [ ]:
fruits_i_like = ['Durian','Rambutan']
fruits_i_dislike = ['Soursop','Oranges']
fruits = fruits_i_like + fruits_i_dislike # combine lists using the "+" operator
fruits

.append method

In [ ]:
planets.append('Pluto') # add Pluto to the list of planets
planets

Individual elements can be removed using the .remove() method

In [ ]:
planets.remove('Pluto') # removing 'Pluto'
planets

In [ ]:
# Hint: in-built python Methods directly modify the variable, and do not return anything
nothing = planets.append('Pluto') # if we do this,
print(nothing) # None assigned (returned) to the variable "nothing"
print(planets) # but the variable "planets" still got appended!

In [ ]:
# Quiz: what does this code do? (run to find out)
planets + planets * 100

In [ ]:
# Quiz: what does this code do? (run to find out)
number_list = [1, 2, 3, 4, 5]
number_list * 2

In [ ]:
# Hint: elements can also be removed using indexing/slicing!
planets = planets[1:] # remove the first element of the "planets" list by slicing and reassigning the slice to the same variable
planets

#### 2.2.6 Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# assign a list of strings to the variable "planets"
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

for one_planet in planets: # for every planet in the "planets" list,
    print(one_planet) # print the planet

In [ ]:
# the same can be done for strings
for alphabet in planets[2]: # for every alphabet in the thrid planet,
    print(alphabet) # print the alphabet

In [ ]:
# Quiz: what does this code do? (run to find out)
for one_planet in planets:
    print('this is planet ' + one_planet)

In [ ]:
# Hint: the range() function can be used to generate integers in sequence
list( range(0, 10) )

In [ ]:
# Quiz: what does this code do? (run to find out)
for index in range(0, 3):
    planets[index] = index

print(planets)

### 2.3 Libraries

The power of Python comes in the form of its libraries.

Libraries are like an extension in Excel which we can leverage on.

To use a library, we have to first import it.

In [ ]:
import math # import the math library, a standard python library, into the RAM

In [ ]:
# Use the exponential function from the math library
math.exp(1)

In [ ]:
# Quiz: what does this code do? (run to find out)
integer_list = []
for integer in range(0, 11):
    integer_list.append(math.exp(integer))

integer_list

In [ ]:
import pandas as pd # import the pandas library, abbreviated as the variable "pd"
import numpy as np # import the numpy library, abbreviated as the variable "np"

## 3. Pandas

![](https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png)

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

### 3.1 Creating DataFrames
There are two common ways in which we can create a DataFrame. 

#### 3.1.1 Creating a DataFrame From Scratch
An easy way to create a DataFrame from scratch would be to use the `pd.DataFrame` function on a dictionary (where the keys would become the column names and the values would become the data values.

In [ ]:
df = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
display(df) # Hint: This display() function is similar to the print() function but is unique to Jupyter notebooks

This method however, can be quite tedious especially if you are trying to create a large DataFrame. 


#### 3.1.2 Creating a DataFrame from a Dataset
An alternative way to create DataFrames if we already have a readily available dataset (e.g csv file etc) would be to read the dataset into a DataFrame using the `pd.read_csv` function

In [ ]:
ramen_df = pd.read_csv("../input/ramen-ratings/ramen-ratings.csv")
ramen_df.head()

### 3.2 Data Exploration
Before we can start working with a DataFrame, it is often good practice to first get a feel of the dataset that you have on hand. 

For example, you could use the `.shape` function to find out how many columns and rows you have.

In [ ]:
ramen_df.shape

You could also use the `.size` function to find out how many data points there are.

In [ ]:
ramen_df.size

If you are working with a lot of numbers, the `.describe()` function could be a useful tool in quickly getting the descriptive stastics of your DataFrame.

In [ ]:
ramen_df.describe(include='all')
# If you are wondering how to know what the syntax of a function is, you can hold "shift" + "tab" 
# and a prompt will appear on your screen with more information about the item you are looking at! 
# You can also use the help function eg. help(ramen_df.describe)

Earlier on, we also talked about the importance of knowing what data type you are working with. You can also do the same with a DataFrame using `dtype` (for a single column) or `dtypes` for every column.

In [ ]:
ramen_df.dtypes

Note that in dataframes, columns columns consisting entirely of strings do not get their own type; they are instead given the `object` type.

### 3.3 Data Manipulation
#### 3.3.1 Getting Columns

To extract a certain column from a DataFrame, we can apply what we have previously learnt about indexing i.e. using square brackets.

In [ ]:
ramen_df['Country']

Earlier, we also discussed how we can create a DataFrame using dictionaries. This also means that just like a dictonary, we can further index the DataFrame to obtain a specific value.

In [ ]:
a = {'Country':["Japan","Taiwan","USA"],"Currency":["JPY","TWD","USD"]}
df_2 = pd.DataFrame(a)
display(df_2)

print(df_2['Country'][1])
print(a['Country'][1])

#### 3.3.2 Getting Rows

A quick and easy way to obtain rows in a Dataframe is to use the `.loc` or `.iloc` operators. For this example, we will just focus on `.loc`.

In [ ]:
ramen_df.loc[0]

As seen above, you can easily extract all the information in a given row (as defined by the index you indicate within the square brackets) using `.loc`.

The `.loc`operator also works if you indicate a slice instead of a single index.

In [ ]:
ramen_df.loc[0:3] 

# note that unlike with list slicing, both ends of the range are 
# inclusive. ie. loc will pull out index 0,1,2,3 instead of 
# stopping at index 2

A great thing about `loc` is that it is very versatile and allows us to access data in many different ways. For example, we could also use `loc` to retrieve a single column (or multiple columns)

In [ ]:
ramen_df.loc[:, 'Country']

# Quiz: Why did we use ":" here? What does it do?

In [ ]:
ramen_df.loc[:,['Stars','Country','Brand']]

# Hint: An interesting thing to note here is that loc will extract the columns in the sequence in which you indicate the headers.

# Can you think of any situations in which this would be useful?

In [ ]:
# Quiz: What is the expected output of this code?

ramen_df.loc[1,['Country']]

#### 3.3.3 Conditional Selection / Filtering

To add an additional layer of complexity, we can also filter the data before retrieving it. Applying a logical operator to a dataframe will produce a series of boolens based on the result.

In [ ]:
ramen_df['Country'] == 'Japan'

To filter our dataset, we can pass this logical statement within our original DataFrame which will return only rows that are **True**.

In [ ]:
ramen_df[ramen_df['Country'] == 'Japan']

# As you can see, we have now filtered 352 rows out from the original 2580

#### 3.3.4 Adding to / Removing from the Dataset

What happens if I want to add new values to the DataFrame? One easy way would be to use the `.append()` function which allows you to add new rows or `.join()` to add new columns

In [ ]:
suanla = {"Review #":2581,"Brand":"Hai Chi Jia","Variety":"Suan La Fen","Style":"Cup","Country":"China","Stars":5}

ramen_df = ramen_df.append(suanla, ignore_index=True)

ramen_df

In [ ]:
fruit_df = pd.DataFrame({"Fruit":["Apple", "Banana", "Cherry"]})
price_df= pd.DataFrame({"Price":[0.5, 1,5]})

display(fruit_df)
display(price_df)

fruit_df = fruit_df.join(price_df)
display(fruit_df)

You can also rename columns using `.rename`

In [ ]:
fruit_df.rename(columns={"Price":"Cost"})

To do the opposite and remove a row/column, we can use the `.drop()` function to easily achieve that.

In [ ]:
ramen_df = ramen_df.drop(2580)
display(ramen_df)

In [ ]:
fruit_df.drop(columns = "Price")

#### 3.3.5 Data Cleaning

Now that we know how to navigate a DataFrame, the next thing to do would be do make sure that our data is clean and ready for use.

First, lets try to find the average stars of the ramen using the `.mean()` function.

In [ ]:
ramen_df['Stars'].mean()

We end up getting an error because the values in the "Stars" column are being stored as a string, not a float.

In [ ]:
# Quiz: What happens if we try to obtain the sum of all the values in the Stars column?

ramen_df['Stars'].sum()

We can remedy this using the `astype` function which lets us change the data type of the column. 

Before we do that, lets look at what unique values can be found in the columns.

In [ ]:
ramen_df['Stars'].unique()

As you can see, there is a unique value called 'Unrated' which is probably the reason why the values are being stored as strings as opposed to floats.

Lets remove the rows where ramen is unrated using since they are not beneficial to our analysis. But how can we do that?

In [ ]:
# Quiz: Recall our exercise to filter the dataframe by country what is the main difference here?

ramen_df[(ramen_df['Stars'] != 'Unrated')]

In [ ]:
ramen_df = ramen_df[(ramen_df['Stars'] != 'Unrated')]
ramen_df['Stars'].unique()

Now, lets convert the data type of the column using `astype` and try calculating the mean again.

In [ ]:
ramen_df['Stars'] = ramen_df['Stars'].astype('float')

In [ ]:
ramen_df['Stars'].mean()

Next, lets replace the NaN values in the 'Top Ten' column. Again, we first look at the unique values in the column using `.unique()`

In [ ]:
ramen_df['Top Ten'].unique()

Looks like we will need to replace the nan values and the '\n' values. There are a few ways that we can do this. 

1. Use the `.replace()` function to manually replace both values.
2. Use the `.replace()` function to convert '\n' to NaN and then use the `.fillna()` function to replace them.

Lets try option 2.

In [ ]:
#Step 1 replace '\n' with nan

ramen_df['Top Ten'].replace('\n', np.nan, inplace=True) 

# Hint(1): The "inplace" parameter indicates wheter we want to make the change in the dataframe itself, or whether to do it on a copy.
# Hint(2): An alternative way to get the same outcome would be to exclude the "inplace" and use variable assignment instead.
# Hint(3): i.e. ramen_df['Top Ten'] = ramen_df['Top Ten'].replace('\n', np.nan)

ramen_df['Top Ten'].unique()

In [ ]:
#Step 2: use fillna to replace all nan values with 'No'

ramen_df['Top Ten'] = ramen_df['Top Ten'].fillna('No')

ramen_df['Top Ten'].unique()

#### 3.3.5 Creating New Columns From Other Columns

Assume that we want to reduce the stars by 10%. Lets:

1. Rename the 'Stars' column to 'Stars_Raw'
2. Create a new column called 'Stars_Adj' with values after the 10% adjustment

In [ ]:
ramen_df.rename(columns={'Stars':'Stars_Raw'})

In [ ]:
ramen_df['Stars_Adj'] = ramen_df['Stars']*0.9
ramen_df

#### 3.4 Data Shaping

Oftentimes, we need to break our dataset down into smaller samples for more meaningful analysis. Earlier, we've learnt how to filter DataFrames. If you needed to do that for each country in the DataFrame, how many times would you need to filter it?

In [ ]:
ramen_df['Country'].nunique()

This is where the `.groupby()` operator comes in handy because it allows us to easily sort and break down dataframes into smaller groups in a much more efficient way.

![](https://i.imgur.com/KrbyyNy.png)

In [ ]:
ramen_df.groupby('Country')

Where did our dataframe go? 

It is important to note that groupby objects can't be seen so don't be alarmed!

With a Groupby object, you can apply many aggregation methods, applied to numeric columns, such as:

1. `.sum()` - sums up based on category
2. `.mean()` - gets average based on category
3. `.min()` - gets minimum based on category
4. `.max()` - gets maximum based on category
5. `.size()` - gets count based on category

![](https://i.imgur.com/8QKUYiL.png)

In [ ]:
ramen_grouped = ramen_df.groupby('Country', as_index = False).mean() 

# Hint 1: The aggregation methods only apply to numeric columns

ramen_grouped

We can also group DataFrames by more than one column

In [ ]:
ramen_grouped2 = ramen_df.groupby(['Country','Style'], as_index = False).size()
ramen_grouped2

#### 3.5 Data Visualisation

Following our data cleaning and manipulation, we can also use Pandas to visualize our data in many different ways such as:

#### 3.5.1 Box Plots

In [ ]:
ax = ramen_df['Stars'].plot.hist()

ax.set_title('Ramen Stars Histogram')

In [ ]:
ax = ramen_df['Stars'].plot.box()

ax.set_title('Ramen Stars Box Plot')

#### 3.5.2 Histograms

#### 3.5.3 Density Plots

In [ ]:
ax = ramen_df['Stars'].plot.density()

ax.set_title('Ramen Stars Density Plot')
ax.set_xlim(0, 5)

#### 3.5.4 Bar Charts

In [ ]:
# Quiz: Why do we need to include '.value_counts()' here?

ax = ramen_df['Country'].value_counts().plot.barh(figsize=(10,15)) # Hint: ".value_counts()" returns the counts of each unique value

ax.set_title('Ramen Count by Country')

# 4. Supplementary Materials

This section illustrates some of the possibilities when visualizing data with python. We will not be covering them in the session but feel free to browse through them and start a discussion any time.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ramen_grouped.sort_values('Stars_Adj',inplace=True) # Sorting the rows of the grouped dataset by the values in the 'Stars_Adj Column'

ramen_grouped.reset_index(inplace=True,drop=True) # Resetting the row index to fix the new order of the DataFrame

# Step 1:
fig, ax = plt.subplots(figsize=(25,10)) # First, we create an empty plot

# Step 2:
ax.hlines(y=ramen_grouped['Country'], # Now we create horizontal lines for each country on the y axis
          xmin=1,                     # Setting the minimum limit for the x axis
          xmax=4,                     # Setting the maximum limit for the x axis
          color='gray',               # Setting the horizontal lines to be gray in colour
          alpha=0.7,                  # Reducing the transparency of the horizontal lines to 0.7 so that the chart will be more readable
          linewidth=1,                # Specifying the width of the horizontal lines
          linestyles='dashdot')       # Specifying the line style, default is solid line

# Step 3:
ax.scatter(y=ramen_grouped['Country'],   # y value for the scatter plot
           x=ramen_grouped['Stars_Adj'], # x value for the scatter plot
           s=75,                         # size of the markers
           color='firebrick',            # Color of the markers
           alpha=0.7)                    # Setting the transparency of the markers to 0.7

ax.set_title('Average Stars By Country')

ax.set_xlabel('Stars')

ax.set_ylabel('Country')

## 4.2 Stacked Bars

We can also take things one step further by creating a pivot table and plotting a stacked bar chart.

In [ ]:
pivot = ramen_grouped2.pivot(index='Country',columns='Style',values='size') # Creating a pivot table from the DataFrame
pivot.head()

In [ ]:
pivot = pivot.fillna(0).astype(int) # replace the NaN values with 0 and change the datatype from float to integer
pivot.head()

In [ ]:
pivot.plot.bar(stacked=True,figsize=(25,5),title='Count of Ramen By Style and Country',ylabel='Count')

## 4.3 Subplots (Multiple Plots)

Alternatively, we can split the stacked bars into subplots (one bar chart for each ramen style)

**Understanding subplot indexing**

Subplots are arranged in a (row,column) format and so are assigned an indices in the same way starting from 0.

So the subplot at the top right would have an index of (0,0) since it is located at row 0 and column 0.

![](https://www.oreilly.com/library/view/matplotlib-for-python/9781788625173/assets/1bbd290b-2f28-4b58-a008-52a1d354593c.png)

In [ ]:
fig, axes = plt.subplots(nrows=4,ncols=2) # Create a chart of 8 charts in a 4 by 2 arrangement

fig.set_figheight(25) # Setting the height of the chart. Note that this is not the height of each individual subplot
fig.set_figwidth(25)  # Setting the height of the chart. Note that this is not the height of each individual subplot


pivot['Bar'].plot(ax=axes[0,0],kind='bar',title='Count of Bar Ramen by Country',color='blue') # Plotting the first bar chart in the subplot. 
                                                                                              # Note that we must first indicate the index of the subplot we want to plot in

pivot['Bowl'].plot(ax=axes[0,1],kind='bar',title='Count of Bowl Ramen by Country',color='orange')

pivot['Box'].plot(ax=axes[1,0],kind='bar',title='Count of Box Ramen by Country',color='green')

pivot['Can'].plot(ax=axes[1,1],kind='bar',title='Count of Can Ramen by Country',color='red')

pivot['Cup'].plot(ax=axes[2,0],kind='bar',title='Count of Cup Ramen by Country',color='purple')

pivot['Pack'].plot(ax=axes[2,1],kind='bar',title='Count of Pack Ramen by Country',color='magenta')

pivot['Tray'].plot(ax=axes[3,0],kind='bar',title='Count of Tray Ramen by Country',color='pink')

fig.delaxes(axes[3,1]) # deleting the 8th subplot since we only need 7

plt.tight_layout() # Setting the layout of the subplots so that they do not overlap