In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [ ]:
df = pd.read_csv("../input/players_stats.csv")

In [ ]:
df.head()

In [ ]:
df[df['PTS'] ==  df['PTS'].min()]

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df_novo = pd.read_csv("../input/players_stats.csv" ,usecols=[0,1, 3, 4, 24,25,27, 31])

In [ ]:
df_novo.head()

In [ ]:
# Maior Jogador com pontuação
df_novo[df_novo['PTS'] == df_novo['PTS'].max()]

In [ ]:
df_novo.nlargest(5, 'PTS')

In [ ]:
df_novo_small = pd.read_csv("../input/players_stats.csv" ,usecols=[0, 3])

In [ ]:
#criando objeto
obj = df_novo.nsmallest(5, 'PTS')

In [ ]:
df_novo_small[df_novo_small['PTS'] == df_novo['PTS'].max()]

In [ ]:
# 5 jogadores com mais pontos
df_novo.groupby('Collage')['PTS'].max().head(10).plot.barh(title='Total de Pontos por F A C U L D A D E')

In [ ]:
# Pontos por time
df_novo.groupby('Team')['PTS'].max().head(10).plot.barh(title='Total de Pontos por T I M E S')

In [ ]:
# Times por Idade
df_novo.groupby('Team')['Age'].max().head(10).plot.bar(title='Times por Idade')

In [ ]:
# maiores pontos por estado
df_novo.groupby('Birth_Place')['PTS'].max().head(10).plot.bar(title='Total de Pontos por E S T A D O')

In [ ]:
#Jogadores com maiores pontos
df_novo.groupby('Name')['PTS'].sum().head(30).plot.bar(title='Maiores Pontos')

In [ ]:
#Jogadores com menores pontos
df_novo.groupby('Name')['PTS'].min().head(30).plot.bar(title='Menores Pontos')

In [ ]:
#maiores idades
df_novo[df_novo['Age'] == df_novo['Age'].max()]

In [ ]:
#Jogadores com maiores pontos
df_novo.groupby('Collage')['PTS'].sum().head(30).plot.bar(title='Maiores Pontos')

In [ ]:
df[(df['PTS'] > 1800) &  (df['PTS'] < 2500)]

In [ ]:
# 10 Bilhetes mais caros
df[['Name', 'Collage', 'PTS']].nlargest(10, 'PTS')

In [35]:
maiores_pontuadores = df.groupby(['Name'])['PTS'].sum() \
                                                       .reset_index(name='Pontos') \
                                                       .sort_values(['Pontos'], ascending=False)
                             
maiores_pontuadores

                      Name  Pontos
199           James Harden    2217
433          Stephen Curry    1900
409      Russell Westbrook    1886
300           LeBron James    1743
91          Damian Lillard    1720
281          Klay Thompson    1668
292      LaMarcus Aldridge    1661
29           Anthony Davis    1656
291           Kyrie Irving    1628
79              Chris Paul    1564
345            Monta Ellis    1513
44           Blake Griffin    1469
165         Gordon Hayward    1463
374              Pau Gasol    1446
406               Rudy Gay    1432
359         Nikola Vucevic    1428
109       DeMarcus Cousins    1421
314             Marc Gasol    1413
244              John Wall    1387
27          Andrew Wiggins    1387
142           Eric Bledsoe    1377
120          Dirk Nowitzki    1333
131            Dwyane Wade    1331
469           Tyreke Evans    1313
230           Jimmy Butler    1301
475         Victor Oladipo    1292
186              JJ Redick    1277
164           Goran Dragic    1275
322        Markieff Morris    1258
288             Kyle Lowry    1244
..                     ...     ...
273          Kenyon Martin      20
76   Chris Douglas-Roberts      19
302          Lester Hudson      18
127            Drew Gordon      17
167          Grant Jerrett      16
482            Will Cherry      15
170          Greg Stiemsma      14
162              Glen Rice      11
57           Bruno Caboclo      10
63        Cameron Bairstow      10
222           Jerel McNeal       9
341     Miroslav Raduljica       8
103         David Stockton       8
457           Toure' Murry       6
371    Patrick Christopher       6
307         Lucas Nogueira       6
151              Gal Mekel       6
470           Tyrus Thomas       4
9                Alex Kirk       4
24        Andrei Kirilenko       3
18           Andre Dawkins       3
195        Jamaal Franklin       3
259          Julius Randle       2
98           Darius Miller       2
429            Sim Bhullar       2
404           Ronny Turiaf       0
227       Jerrelle Benimon       0
264            Kalin Lucas       0
418             Seth Curry       0
104             David Wear       0

[490 rows x 2 columns]

# importa bibliotecas de gráficos
import matplotlib.pyplot as plt
#%matplotlib inline
# Gráfico dos jogadore scom mais pontos

plt.bar(maiores_pontuadores['Name'].head(3), maiores_pontuadores['Pontos'].head(3))
plt.title('Maiores Pontuadores')
plt.xlabel('Nomes dos Jogadores')
plt.ylabel('Total de Pontos')
plt.show()

In [38]:
# Gastos por Cia Aerea

menores = df['Name']

menores_pontuadores = df.groupby(['Name'])['PTS'].min() \
                                                              .reset_index(name='Pontos') \
                                                              .sort_values(['Pontos'], ascending=True)
menores_pontuadores

                      Name  Pontos
104             David Wear       0
227       Jerrelle Benimon       0
404           Ronny Turiaf       0
418             Seth Curry       0
264            Kalin Lucas       0
98           Darius Miller       2
259          Julius Randle       2
429            Sim Bhullar       2
18           Andre Dawkins       3
195        Jamaal Franklin       3
24        Andrei Kirilenko       3
9                Alex Kirk       4
470           Tyrus Thomas       4
457           Toure' Murry       6
371    Patrick Christopher       6
151              Gal Mekel       6
307         Lucas Nogueira       6
103         David Stockton       8
341     Miroslav Raduljica       8
222           Jerel McNeal       9
57           Bruno Caboclo      10
63        Cameron Bairstow      10
162              Glen Rice      11
170          Greg Stiemsma      14
482            Will Cherry      15
167          Grant Jerrett      16
127            Drew Gordon      17
302          Lester Hudson      18
76   Chris Douglas-Roberts      19
363          Ognjen Kuzmic      20
..                     ...     ...
288             Kyle Lowry    1244
322        Markieff Morris    1258
164           Goran Dragic    1275
186              JJ Redick    1277
475         Victor Oladipo    1292
230           Jimmy Butler    1301
469           Tyreke Evans    1313
131            Dwyane Wade    1331
120          Dirk Nowitzki    1333
142           Eric Bledsoe    1377
244              John Wall    1387
27          Andrew Wiggins    1387
314             Marc Gasol    1413
109       DeMarcus Cousins    1421
359         Nikola Vucevic    1428
406               Rudy Gay    1432
374              Pau Gasol    1446
165         Gordon Hayward    1463
44           Blake Griffin    1469
345            Monta Ellis    1513
79              Chris Paul    1564
291           Kyrie Irving    1628
29           Anthony Davis    1656
292      LaMarcus Aldridge    1661
281          Klay Thompson    1668
91          Damian Lillard    1720
300           LeBron James    1743
409      Russell Westbrook    1886
433          Stephen Curry    1900
199           James Harden    2217

[490 rows x 2 columns]

In [39]:
df_novo.isnull().sum()

Name              0
Games Played      0
PTS               0
FGM               0
Age              68
Birth_Place      68
Collage         140
Team             68
dtype: int64

In [42]:
df_novo[df_novo['PTS'] == 0]

                 Name  Games Played  ...                     Collage  Team
104        David Wear             2  ...                         NaN   NaN
224  Jerrelle Benimon             2  ...           Towson University   UTA
263       Kalin Lucas             1  ...   Michigan State University   MEM
404      Ronny Turiaf             2  ...                         NaN   NaN
418        Seth Curry             2  ...             Duke University   PHO

[5 rows x 8 columns]

In [ ]:
#apagar valores 0
df_novo.drop(df.index[],inplace=True)