In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [2]:
import pandas as pd
import numpy as np
sales_data=pd.read_csv("../input/sales_data_sample.csv",encoding='unicode_escape')

In [3]:
sales_data.shape

(2823, 25)

In [4]:
sales_data.head()

   ORDERNUMBER  QUANTITYORDERED    ...     CONTACTFIRSTNAME  DEALSIZE
0        10107               30    ...                 Kwai     Small
1        10121               34    ...                 Paul     Small
2        10134               41    ...               Daniel    Medium
3        10145               45    ...                Julie    Medium
4        10159               49    ...                Julie    Medium

[5 rows x 25 columns]

In [5]:
#Find total sales yearwise

sales_data['YEAR_ID'].value_counts()

2004    1345
2003    1000
2005     478
Name: YEAR_ID, dtype: int64

In [6]:
sales_data.groupby(['YEAR_ID','QTR_ID']).sum()['SALES']

YEAR_ID  QTR_ID
2003     1          445094.69
         2          562365.22
         3          649514.54
         4         1860005.09
2004     1          833730.68
         2          766260.73
         3         1109396.27
         4         2014774.92
2005     1         1071992.36
         2          719494.35
Name: SALES, dtype: float64

In [7]:
sales_data.groupby('YEAR_ID').sum()['SALES']

YEAR_ID
2003    3516979.54
2004    4724162.60
2005    1791486.71
Name: SALES, dtype: float64

In [8]:
#Find sales Product line wise
(sales_data.groupby('PRODUCTLINE').sum()['SALES']).sort_values()

PRODUCTLINE
Trains               226243.47
Ships                714437.13
Planes               975003.57
Trucks and Buses    1127789.84
Motorcycles         1166388.34
Vintage Cars        1903150.84
Classic Cars        3919615.66
Name: SALES, dtype: float64

In [9]:
#Products that they deal in

sales_data['PRODUCTLINE'].value_counts()

Classic Cars        967
Vintage Cars        607
Motorcycles         331
Planes              306
Trucks and Buses    301
Ships               234
Trains               77
Name: PRODUCTLINE, dtype: int64

In [10]:
#Country wise sales:

(sales_data.groupby('COUNTRY').sum()['SALES']).sort_values()

COUNTRY
Ireland          57756.43
Philippines      94015.73
Belgium         108412.62
Switzerland     117713.56
Japan           188167.81
Austria         202062.53
Sweden          210014.21
Germany         220472.09
Canada          224078.56
Denmark         245637.15
Singapore       288488.41
Norway          307463.70
Finland         329581.91
Italy           374674.31
UK              478880.46
Australia       630623.10
France         1110916.52
Spain          1215686.92
USA            3627982.83
Name: SALES, dtype: float64

This is basic data analysis using Pandas.We start off by importing the data in Sales_data dataframe.Then we check the basic information such as the shape of the dataset and info using the info method.Then we start with checking the data and columns.We go ahead and find the salesyearwise and quartewise.Then we find which product line has maximum sales.Then we check countrywise sales.We conclude that the highest sales was in 2004.Also find the country where the highest sale is recorded is USA and lowest is Ireland.We also find that Product line having maximum sales is Cars(Classic and Vintage.