In [4]:
import pandas as pd
import numpy as np

In [5]:
salary = pd.read_csv('../input/Salaries.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
salary.head()

   Id       EmployeeName  ...           Agency Status
0   1     NATHANIEL FORD  ...    San Francisco    NaN
1   2       GARY JIMENEZ  ...    San Francisco    NaN
2   3     ALBERT PARDINI  ...    San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...    San Francisco    NaN
4   5    PATRICK GARDNER  ...    San Francisco    NaN

[5 rows x 13 columns]

In [7]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [8]:
# Notes seems to be missing a lot of values
salary.drop(['Notes'],axis=1,inplace=True)

In [9]:
salary.head()

   Id       EmployeeName  ...           Agency Status
0   1     NATHANIEL FORD  ...    San Francisco    NaN
1   2       GARY JIMENEZ  ...    San Francisco    NaN
2   3     ALBERT PARDINI  ...    San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...    San Francisco    NaN
4   5    PATRICK GARDNER  ...    San Francisco    NaN

[5 rows x 12 columns]

In [10]:
salary.set_index('Id')

                  EmployeeName  ...   Status
Id                              ...
1               NATHANIEL FORD  ...      NaN
2                 GARY JIMENEZ  ...      NaN
3               ALBERT PARDINI  ...      NaN
4            CHRISTOPHER CHONG  ...      NaN
5              PATRICK GARDNER  ...      NaN
6               DAVID SULLIVAN  ...      NaN
7                    ALSON LEE  ...      NaN
8                DAVID KUSHNER  ...      NaN
9               MICHAEL MORRIS  ...      NaN
10          JOANNE HAYES-WHITE  ...      NaN
11               ARTHUR KENNEY  ...      NaN
12            PATRICIA JACKSON  ...      NaN
13           EDWARD HARRINGTON  ...      NaN
14                 JOHN MARTIN  ...      NaN
15              DAVID FRANKLIN  ...      NaN
16             RICHARD CORRIEA  ...      NaN
17                    AMY HART  ...      NaN
18              SEBASTIAN WONG  ...      NaN
19                  MARTY ROSS  ...      NaN
20               ELLEN MOFFATT  ...      NaN
21                  VENUS AZAR  ...      NaN
22                JUDY MELINEK  ...      NaN
23               GEORGE GARCIA  ...      NaN
24               VICTOR WYRSCH  ...      NaN
25             JOSEPH DRISCOLL  ...      NaN
26                GREGORY SUHR  ...      NaN
27                 JOHN HANLEY  ...      NaN
28              RAYMOND GUZMAN  ...      NaN
29              DENISE SCHMITT  ...      NaN
30               MONICA FIELDS  ...      NaN
...                        ...  ...      ...
148625      Lorraine Rosenthal  ...       PT
148626         Renato C Gurion  ...       PT
148627           Paulet Gaines  ...       PT
148628        Brett A Lundberg  ...       PT
148629          Mark W Mcclure  ...       PT
148630       Elizabeth Iniguez  ...       PT
148631            Randy J Keys  ...       PT
148632         Andre M Johnson  ...       PT
148633  Sharon D Owens-Webster  ...       PT
148634        Edward Ferdinand  ...       PT
148635          David M Turner  ...       PT
148636     James S Kibblewhite  ...       PT
148637           Andrew J Enzi  ...       PT
148638        Kadeshra D Green  ...       PT
148639    Lennard B Hutchinson  ...       PT
148640       Richard A Talbert  ...       PT
148641      Charlene D Mccully  ...       PT
148642   Raphael Marquis Goins  ...       PT
148643       Dominic C Marquez  ...       PT
148644              Kim Brewer  ...       PT
148645            Randy D Winn  ...       PT
148646        Carolyn A Wilson  ...       PT
148647            Not provided  ...      NaN
148648          Joann Anderson  ...       PT
148649             Leon Walker  ...       PT
148650           Roy I Tillery  ...       PT
148651            Not provided  ...      NaN
148652            Not provided  ...      NaN
148653            Not provided  ...      NaN
148654               Joe Lopez  ...       PT

[148654 rows x 11 columns]

In [11]:
# convert the pay columns to numeric
for col in ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']:
    salary[col] = pd.to_numeric(salary[col], errors='coerce')

In [12]:
salary.describe()

                  Id      ...                 Year
count  148654.000000      ...        148654.000000
mean    74327.500000      ...          2012.522643
std     42912.857795      ...             1.117538
min         1.000000      ...          2011.000000
25%     37164.250000      ...          2012.000000
50%     74327.500000      ...          2013.000000
75%    111490.750000      ...          2014.000000
max    148654.000000      ...          2014.000000

[8 rows x 8 columns]

In [13]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(6), int64(2), object(4)
memory usage: 13.6+ MB

### What is the average BasePay ?

In [14]:
salary['BasePay'].mean()

66325.44884050643

### What is the highest amount of OvertimePay in the dataset ?

In [15]:
salary['OvertimePay'].max()

245131.88

### What is the job title of JOSEPH DRISCOLL ?

In [16]:
salary[salary['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### How much does JOSEPH DRISCOLL make (including benefits)?

In [17]:
salary[salary['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### What is the name of highest paid person (including benefits)?

In [18]:
salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].max()]

   Id    EmployeeName   ...           Agency  Status
0   1  NATHANIEL FORD   ...    San Francisco     NaN

[1 rows x 12 columns]

### What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [19]:
salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].min()]

            Id EmployeeName   ...           Agency  Status
148653  148654    Joe Lopez   ...    San Francisco      PT

[1 rows x 12 columns]

### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [20]:
salary.groupby('Year').mean() ['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### How many unique job titles are there?

In [21]:
salary['JobTitle'].nunique()

2159

### What are the top 5 most common jobs?

In [22]:
salary['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [23]:
salary['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
CHIEF VICTIM/WITNESS INVESTIGATOR                        1
HEAD AIRPORT ELECTRICIAN                                 1
CARPENTER SUPERVISOR II                                  1
SPECIAL ASSISTANT XIV                                    1
Undersheriff (SFERS)                                     1
CONFIDENTIAL SECRETARY CITY ATTORNEY                     1
PIANIST                                                  1
CHIEF ELECTRICAL INSPECTOR                               1
COURT COMPUTER FACILITIES COORDINATOR                    1
LAW LIBRARIAN                                            1
SHELTER OFFICE SUPERVISOR                                1
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR          1
DIRECTOR, JUVENILE HALL                                  1
Mobile Equipment Supervisor                              1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
CHIEF PROBATION OFFICER, JUVENILE COURT                  1
COURT ASSISTANT, SUPERIOR COURT                          1
Lieutenant (Police Department)                           1
SENIOR MORGUE ATTENDANT                                  1
EMPLOYEE ASSISTANCE COUNSELOR                            1
LABORATORY HELPER                                        1
HEAD PHOTOGRAPHER                                        1
SOFT FLOOR COVERER SUPERVISOR                            1
SHELTER OFFICE ASSISTANT SUPERVISOR                      1
WAREHOUSE WORKER                                         1
PUBLIC DEFENDER                                          1
Police Services Aide                                     1
Civil Case Settlmnt Specialist                           1
SPECIAL ASSISTANT XVI                                    1
RENT BOARD SUPERVISOR                                    1
Name: JobTitle, Length: 2159, dtype: int64

### How many people have the word Chief in their job title? (This is pretty tricky)

In [24]:
salary['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

627