In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# data preview

In [ ]:
data=pd.read_csv('../input/netflix-shows/netflix_titles.csv')
data.head().style.set_properties(**{'background-color': '#161717','color': '#30c7e6','border-color': '#8b8c8c'})

In [ ]:
print(data.columns)
data.index

# Performing Exploratory Data Analytics
- in this part we will be dealing with finding of null/NaN in the dataset
- And we will try to fill those null values with appropriate values 
- or else if a column consists of too many null values then we will delete the column

In [ ]:
data.isnull().sum()

In [ ]:
data['director'].value_counts()

# from the above depiction we can observe that 65% of the director values are missing
- Predicting data of directors values isn't that easy and also won't be accurate enough in real-time and also director values is not that important 
- so it is better we drop the column of director along the axis=1

In [ ]:
data.drop(columns=['director'],inplace=True)

In [ ]:
data.head().style.set_properties(**{'background-color': '#161717','color': '#30c7e6','border-color': '#8b8c8c'})

# Also we have 570 records of null values in cast 
- due to many values in cast we can't easily categorise and can't be predicted easily better we remove the cast column

In [ ]:
data.drop('cast',inplace=True,axis=1)
data.head().style.set_properties(**{'background-color': '#161717','color': '#30c7e6','border-color': '#8b8c8c'})

In [ ]:
countries=data['country']
countries

In [ ]:
unique_country=data['country'].unique()
unique_country

In [ ]:
occurences=np.count_nonzero(countries,axis=0)
occurences

In [ ]:
(data.country=='United States').value_counts()

In [ ]:
(data.country=='United Kingdom').value_counts()

In [ ]:
(data.country=='India').value_counts()

In [ ]:
data['country'].value_counts()

In [ ]:
data.dtypes

# as there are many object data types present in the data set so we will try to convert the object data types to categorical values and then we will try to explore the data

In [ ]:
data['type'].unique()

In [ ]:
pd.get_dummies(data['type'])

In [ ]:
data.head().style.set_properties(**{'background-color': '#161717','color': '#30c7e6','border-color': '#8b8c8c'})

In [ ]:
sns.heatmap(data.isnull())

# From the depiction we could realise that there are null values in country and rating as the data given in the respective columns are neither categorical nor numerical, and is discrete variables so we will find difficulty in filling up the null values
- so we will use bfill()/ffill() in fillna() function

In [ ]:
data[data['type']=='TV Show']

In [ ]:
data[data['type']=='TV Show'].value_counts()

In [ ]:
sns.countplot(data=data,y='country',hue='type')

In [ ]:
data.fillna('bfill',inplace=True)
data.head().style.set_properties(**{'background-color': '#161717','color': '#30c7e6','border-color': '#8b8c8c'})

In [ ]:
sns.heatmap(data.isnull())

In [ ]:
data.isnull().sum()

# from the above observation we can out that all null/NaN values were resolved and filled with some appropriate values

# Visualisation

In [ ]:
sns.pairplot(data)

In [ ]:
data.hist(figsize=(20,15))

In [ ]:
sns.distplot(data['release_year'])

In [ ]:
sns.kdeplot(data['release_year'])

In [ ]:
sns.countplot(data=data,x='release_year',hue='type')

In [ ]:
sns.barplot(data=data,x='release_year',y='type')

# from the given data TV shows were released more than Movies

In [ ]:
data['type']=data['type'].astype('category')

In [ ]:
data.columns

In [ ]:
sns.jointplot(data=data,x='release_year',y='show_id',kind='reg')

In [ ]:
sns.jointplot(data=data,x='release_year',y='show_id',kind='kde')

# finding the correlation

In [ ]:
data.corr()

In [ ]:
sns.heatmap(data.corr())

In [ ]:
sns.set_style("whitegrid")
import plotly.express as px
fig = px.bar(data,x='release_year',y='country',title='Country Vs release_year', height=900, orientation='h')
fig.show()