In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
#import libraries

import pandas as pd

In [ ]:
#load the data set

url='/kaggle/input/test-file/tested.csv'
dataframe=pd.read_csv(url)

#first 6 rows of the data frame

dataframe.head(6)

In [ ]:
# Show dimensions
#get the no of rows and columns in the data set

dataframe.shape

In [ ]:
# Show statistics

dataframe.describe()

In [ ]:
#get the information about the data sets

dataframe.info()

In [ ]:
#Return the first n rows.

dataframe.head

In [ ]:
#Return the first 5 rows.

dataframe.head(5)

In [ ]:
# Show counts

dataframe.count()

In [ ]:
# Select unique values

dataframe['Sex'].unique()

In [ ]:
# Select unique values

dataframe['Cabin'].unique()

In [ ]:
# Select unique values

dataframe['Age'].unique()

In [ ]:
# Select unique values

dataframe['Ticket'].unique()

In [ ]:
dataframe['Fare'].unique()

In [ ]:
# Select unique values

dataframe['Parch'].unique()

In [ ]:
# Show counts

dataframe['Sex'].value_counts()

In [ ]:
#select rows where age value is null

dataframe[dataframe['Age'].isnull()]

In [ ]:
#locate 6th row

dataframe.iloc[6]

In [ ]:
# Select 10 rows

dataframe.iloc[0:10]

In [ ]:
# Select all rows after 400

df=dataframe
df.iloc[400:]

In [ ]:
#copying the data in new dataframe

df2=df.iloc[400:]

In [ ]:
# Show  rows where column 'sex' is 'female'

df[df['Sex']=='female']

In [ ]:
# Show rows where column 'sex' is 'female' and age is greater than 65

df[(df['Sex']=='female') & (df['Age']>65)]

In [ ]:

# Show rows where column 'sex' is 'female' who 'survived'

df[(df['Sex']=='female') & (df['Age']>40) & (df['Survived']==1)]

In [ ]:
# count rows value with specified values

df[(df['Sex']=='female') & (df['Age']>40) & (df['Survived']==1)].count()

In [ ]:
# count rows value with specified values

df[(df['Sex']=='female') & (df['Age']>40) & (df['Survived']==1)].value_counts()

In [ ]:
# Replace values, show two rows

dataframe['Sex'].replace("female", "Woman").head(2)

In [ ]:
dataframe['Sex'].replace(["female", "male"], ["Woman", "Man"]).head(5)

In [ ]:
# Replace "female" and "male with "Woman" and "Man"

dataframe = dataframe.set_index(dataframe['Name'])

In [ ]:
# Replace values, show two rows

dataframe.replace(1, "One").head(2)

In [ ]:
# Replace values, show two rows

dataframe.replace(r"1st", "First", regex=True).head(2)

In [ ]:
# Rename column, show two rows

dataframe.rename(columns={'PClass': 'Passenger Class'}).head(2)

In [ ]:
# Rename columns, show two rows

dataframe.rename(columns={'PClass': 'Passenger Class', 'Sex': 'Gender'}).head(2)

In [ ]:
import collections

In [ ]:
# Create dictionary

column_names = collections.defaultdict(str)

In [ ]:
# Create keys

column_names['name']

In [ ]:
# Show dictionary

column_names

In [ ]:
# Calculate statistics

print('Maximum:', dataframe['Age'].max())
print('Minimum:', dataframe['Age'].min())
print('Mean:', dataframe['Age'].mean())
print('Sum:', dataframe['Age'].sum())
print('Count:', dataframe['Age'].count())

In [ ]:
# Show counts

dataframe.count()

In [ ]:
# Select missing values, show two rows

dataframe[dataframe['Age'].isnull()].head(2)

In [ ]:
import numpy as np

In [ ]:
# Replace values with NaN

dataframe['Sex'] = dataframe['Sex'].replace('male',np.NaN)

In [ ]:
# Load data, set missing values

dataframe = pd.read_csv(url, na_values=[np.nan, 'NONE', -999])

In [ ]:
# Drop columns

dataframe.drop('Age', axis=1).head(2)

In [ ]:
# Drop column

dataframe.drop(['Age', 'Sex'], axis=1).head(2)

In [ ]:
# Delete rows, show first two rows of output

dataframe.drop(dataframe.columns[1], axis=1).head(2)

In [ ]:
# Delete rows, show first two rows of output

dataframe[dataframe['Name'] != 'Allison, Miss Helen Loraine'].head(2)

In [ ]:
# Delete row, show first two rows of output

dataframe[dataframe.index != 0].head(2)

In [ ]:
# Drop duplicates, show first two rows of output

dataframe.drop_duplicates().head(2)

In [ ]:
# Show number of rows

print("Number Of Rows In The Original DataFrame:", len(dataframe))

In [ ]:
# Show number of rows

print("Number Of Rows After Deduping:", len(dataframe.drop_duplicates()))

In [ ]:
# Drop duplicates

dataframe.drop_duplicates(subset=['Sex'])

In [ ]:
# Drop duplicates

dataframe.drop_duplicates(subset=['Sex'], keep='last')

In [ ]:
# Group rows by the values of the column 'Sex', calculate mean# of each group

dataframe.groupby('Sex').mean()

In [ ]:
# Group rows

dataframe.groupby('Sex')

In [ ]:
# Group rows, count rows

dataframe.groupby('Survived')['Name'].count()

In [ ]:
# Group rows, calculate mean

dataframe.groupby(['Sex','Survived'])['Age'].mean()

In [ ]:
# Create date range

time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

In [ ]:
# Create DataFrame

dataframe = pd.DataFrame(index=time_index)

In [ ]:
# Create column of random values

dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [ ]:
# Group rows by week, calculate sum per week

dataframe.resample('W').sum()

In [ ]:
# Show three rows

dataframe.head(3)

In [ ]:
# Group by two weeks, calculate mean

dataframe.resample('2W').mean()

In [ ]:
# Group by month, count rows

dataframe.resample('M').count()

In [ ]:
# Group by month, count rows

dataframe.resample('M', label='left').count()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Load data

dataframe = pd.read_csv(url)
# Create function

def uppercase(x):return x.upper()

# Apply function, show two rows

dataframe['Name'].apply(uppercase)[0:2]

In [ ]:
# Group rows, apply function to groups

dataframe.groupby('Sex').apply(lambda x: x.count())

In [ ]:
# Create DataFrame

data_a = {'id': ['1', '2', '3'],'first': ['Alex', 'Amy', 'Allen'],'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])

# Create DataFrame

data_b = {'id': ['4', '5', '6'],'first': ['Billy', 'Brian', 'Bran'],'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])

# Concatenate DataFrames by rows

pd.concat([dataframe_a, dataframe_b], axis=0)

In [ ]:
# Concatenate DataFrames by columns

pd.concat([dataframe_a, dataframe_b], axis=1)

In [ ]:
 #Create row
row = pd.Series([10, 'Chris', 'Chillon'], index=['id', 'first', 'last'])   
# Append row
dataframe_a.append(row, ignore_index=True)

In [ ]:
# Create DataFrame

employee_data = {'employee_id': ['1', '2', '3', '4'],'name': ['Amy Jones', 'Allen Keys', 'Alice Bees','Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id','name'])

# Create DataFrame

sales_data = {'employee_id': ['3', '4', '5', '6'],'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id','total_sales'])

# Merge DataFrames

pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

In [ ]:
# Merge DataFrames

pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='outer')

In [ ]:
# Merge DataFrames

pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

In [ ]:
# Merge DataFrames

pd.merge(dataframe_employees,dataframe_sales,left_on='employee_id',right_on='employee_id')